<div class="tableTransaction">
  <h1>
    <% if @recent_documents_to_enter.present? %>
      <b><%= @recent_documents_to_enter.count %> &nbsp&nbsp&nbsp Documents to Enter</b>
    <% else %>
      There is no documents to enter
    <% end %>
  </h1>
  <h1>
    <div class="column">Info</div>
    <div class="column w30">Listing Docs</div>
    <div class="column w12">Comments</div>
    <div class="column w13">Added On</div>
    <div class="column w13">Reviewed</div>
    <div class="column w13">Entered</div>
    <div class="column last">Actions</div>
  </h1>
  <div class="box">
    <% documents.each do |document| %>
      <div class="tableTransaction">
        <div class="transactionrow">
          <div class="column"><div class="icon-pdf"></div></div>
          <div class="column w30"><%= link_to_function document.document_file_name[0..24], "Pdfshow(#{document.id})" %></div>

          <div class="column w12"><div id="comment" class="icon-comment" onclick ="show_commentbox('<%= document.id %>')"></div></div>
          <div class="column w13"><%= document.created_at.to_date %></div>
          <div class="column w13"><input title="Reviewed" type='checkbox' name='checkbox[]' value='<%= document.reviewed %>' onclick="update_document_reviewed(this, '<%= document.id %>')" <%= document.review == true ? 'checked="true"' : '' %> /></div>
          <div class="column w13"><input title="Reviewed" type='checkbox' name='checkbox[]' value='<%= document.entered %>' onclick="update_document_entered(this, '<%= document.id %>')" <%= document.entered == true ? 'checked="true"' : '' %> /></div>
          <div class="column last">
            <span class="btn-action transaction">
              <em class="tooltip-container"><span>Action</span>
                <strong class="tooltip">
                  <ul class="list-tooltip">
                    <li class="icon-download"><%= link_to "Download", download_path(:id => document.id) %></li>
                    <li class="icon-edit"><a title="Edit Doc" href="#">Edit Doc</a></li>
                    <li class="icon-delete"><%= link_to "Delete", document_path(document), :method => "DELETE" %></li>
                  </ul>
                  <i class="top-arrow"></i>
                </strong>
              </em>
            </span>
          </div>
        </div>
      </div>
      <div id="pdf_show_<%= document.id %>" style="display:none">
        <iframe src="http://docs.google.com/gview?url=<%= BASE_URL + document.document.url %>&embedded=true" style="width:980px; height:500px;" frameborder="0"></iframe>
      </div>
      <div class="commentBox" id="commentBox_<%= document.id %>" style="display:none">
        <%= form_for :comment, :url => add_comment_transactions_path, :method => 'POST', :remote => true do |f| %>
          <%= f.text_field :comment, :title => "Comments", :type =>"text" %>
          <%= f.hidden_field :document_id, :value => document.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Save", :class => "btn-save",  :title => "Save", :type => "submit", :value => "Save" %>
          <span id="cancel_<%= document.id %>" style="cursor: pointer;color: blue;">Cancel</span>
        <% end %>
        <div id="document_comments_<%= document.id %>">
          <%= render :partial => "transactions/comment",:locals => {:doc => document} %>
        </div>
        <script>
            $("#cancel_<%= document.id %>").click(function() {
              $("#commentBox_<%= document.id%>").fadeOut('slow');
            })
        </script>
      </div>
    <% end %>
  </div>
</div>
<br />
<hr />
<br />