<div id="ttttt">
  <%= render :partial =>'transaction' %>
</div><br /><br />
<div id="doces">
  <%= render :partial =>'docs' %>
</div><br /><br />
<div id="upcomingdocs">
  <%= render :partial =>'upcomingdocs' %>
</div><br /><br />

<div id="transactions-closing-dates">
  <%= render :partial =>'transactions_closing_date' %>
</div><br /><br />

<%= link_to "Transactions", transactions_path %>

