<div class="contentbox homebox">
  <h1>Transaction Stats</h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <div class="transactionbox">
                <h2><%= Time.now.strftime("%B") %></h2>
                <div class="frow">
                  <div>Listing</div>
                  <div><%= @this_month_listing_total_commission.count %></div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div><%=  @this_month_listing_total_commission.map(&:to_i).reduce(:+) %></div>
                </div>
                <div class="frow">
                  <div>Pending</div>
                  <div>0</div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div>$0</div>
                </div>
                <div class="frow">
                  <div>Closed</div>
                  <div>0</div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div>$0</div>
                </div>
              </div>
              <div class="transactionbox">
                <h2><%=  (Time.now-1.month).to_date.strftime("%B") %></h2>
                <div class="frow">
                  <div>Listing</div>
                  <div><% if @previous_month_listing_transactions_total_commission.present? %><%= @previous_month_listing_transactions_total_commission.count %><% end %></div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div><% if @previous_month_listing_transactions_total_commission.present? %><%= @previous_month_listing_transactions_total_commission.map(&:to_i).reduce(:+) %><% end %></div>
                </div>
                <div class="frow">
                  <div>Pending</div>
                  <div>0</div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div>$0</div>
                </div>
                <div class="frow">
                  <div>Closed</div>
                  <div><%= @previous_month_closed_transaction_total_commission.count %></div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div><% if @previous_month_closed_transaction_total_commission.present? %><%= @previous_month_closed_transaction_total_commission.map(&:to_i).reduce(:+) %><% end %></div>
                </div>
              </div>
              <div class="transactionbox">
                <h2>2013 Total</h2>
                <div class="frow">
                  <div>Listing</div>
                  <div><%= @total_commission.count %></div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div><%= @total_commission.map(&:to_i).reduce(:+) %></div>
                </div>
                <div class="frow">
                  <div>Pending</div>
                  <div>0</div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div>$0</div>
                </div>
                <div class="frow">
                  <div>Closed</div>
                  <div><%= @total_commission.count %></div>
                </div>
                <div class="frow">
                  <div>Commission</div>
                  <div><%= @total_commission.map(&:to_i).reduce(:+) %></div>
                </div>
              </div>
              <div class="clearFix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contentbox">

  <%= render :partial => "/dashboard/recent_documents_to_assign",:locals=>{:documents=>@recent_documents_to_assign} %>

  <%= render :partial => "/dashboard/recent_documents_to_review",:locals=>{:documents=>@recent_documents_to_review} %>

  <%= render :partial => "/dashboard/recent_documents_to_enter",:locals=>{:documents=>@recent_documents_to_enter} %>

  <h1><em><%= link_to "", transactions_path, :class=>"btn-viewall"  %></em><%= @incomplete_checklist_transactions.count %> Recent Transactions with Incomplete Checklists</h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <div class="tableTransaction">
                <% if @incomplete_checklist_transactions.present? %>
                  <h1>
                    <div class="transactionrow">
                      <div class="column w30">Transaction</div>
                      <div class="column">Status</div>
                      <div class="column w8">Complete</div>
                      <div class="column">Agents</div>
                      <div class="column w20">Location</div>
                      <div class="column">Close Date</div>
                      <div class="column last">Actions</div>
                    </div>
                  </h1>
                <% end %>
                <% @incomplete_checklist_transactions.each do |i| %>
                  <div class="transactionrow">
                    <div class="column w30"><%= link_to i.transaction_name, transaction_path(i) %><img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column"><%= i.status %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column w8">
                      <% @completed_tasks = i.tasks.where("status = ?", true) %>
                      <% @tasks = i.tasks  %>
                      <div class="completebox" onclick="transaction_show(<%=  i.id %>)">
                        <em class="tooltip-container"><abbr><%= @completed_tasks.count %>/<%= @tasks.count %></abbr>
                          <strong class="tooltip">
                            <h6><%= i.transaction_name.first(15) %></h6>
                            <p>List Price <%= i.list_price %></p>
                            <h4>Incomplete Task</h4>
                            <p><span>
                                <% if i.checklists.present? %>
                                  <% i.checklists.each do |c|  %>
                                    <b><%= c.name %>:</b>
                                    <% if c.tasks.present? %>
                                      <% c.tasks.each do |t| %>
                                        <%= t.name %><br />
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                <% end %><br />

                                <h4<% @cs = i.checklists.count  %>
                                  <% @ts = i.tasks.count %>>Recent Notes:</h4>
                                <p><span><% if i.notes.present? %>
                                      <% i.notes.last(2).each do |n| %>
                                        <%= n.description %><br />
                                      <% end %>
                                    <% end %></span></p>
                                <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </div>
                      <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column">
                      <span class="icon-agent">
                        <em class="tooltip-container">
                          <strong class="tooltip">
                            <ul class="list-tooltip">
                              <% @agent = Agent.find_by_transaction_id(i.id) %>
                              <% if @agent.present? %><% @user = User.find_by_id(@agent.user_id) %><% end %>
                              <li class="alcent"><% if @user.present? %><%= @user.first_name %><% end  %></li>
                            </ul>
                            <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </span>
                      <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column w20"><% if i.location.present? %> <%= i.location.name %><% end %>  <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column"><%= i.close_date %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column last">
                      <span class="btn-action">
                        <em class="tooltip-container"><span>Action</span>
                          <strong class="tooltip">
                            <ul class="list-tooltip">
                              <li class="icon-zoomin"><%= link_to "ViewTransaction", transaction_path(i) %></li>
                              <li class="icon-edit"><%= link_to "Edit", edit_transaction_path(i) %></li>
                            </ul>
                            <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </span>
                    </div>
                  </div>
                <% end %>

              </div>
              <div class="clearFix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contentbox">
  <h1><%= @passed_transactions.count %> Transactions Past Their Closing Date</h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <div class="tableTransaction">
                <% if @passed_transactions.present? %>
                  <h1>
                    <div class="transactionrow">
                      <div class="column w30">Transaction</div>
                      <div class="column">Status</div>
                      <div class="column w8">Complete</div>
                      <div class="column">Agents</div>
                      <div class="column w20">Location</div>
                      <div class="column">Close Date</div>
                      <div class="column last">Actions</div>
                    </div>
                  </h1>
                <% end %>
                <% @passed_transactions.first(3).each do |i| %>
                  <div class="transactionrow">
                    <div class="column w30"><%= link_to i.transaction_name[0..24], transaction_path(i) %><img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column"><%= i.status %>
                      <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column w8">
                      <% @completed_tasks = i.tasks.where("status = ?", true) %>
                      <% @tasks = i.tasks  %>
                      <div class="completebox"onclick="transaction_show(<%=  i.id %>)">
                        <em class="tooltip-container"><abbr><%= @completed_tasks.count %>/<%= @tasks.count %></abbr>
                          <strong class="tooltip">
                            <h6><%= i.transaction_name.first(15) %></h6>
                            <p>List Price <%= i.list_price %></p>
                            <h4>Incomplete Task</h4>
                            <p><span>
                                <% if i.checklists.present? %>
                                  <% i.checklists.each do |c|  %>
                                    <b><%= c.name %>:</b>
                                    <% if c.tasks.present? %>
                                      <% c.tasks.each do |t| %>
                                        <%= t.name %><br />
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                <% end %><br />

                                <h4<% @cs = i.checklists.count  %>
                                  <% @ts = i.tasks.count %>>Recent Notes:</h4>
                                <p><span><% if i.notes.present? %>
                                      <% i.notes.last(2).each do |n| %>
                                        <%= n.description %><br />
                                      <% end %>
                                    <% end %></span></p>
                                <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </div>

                      <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column">
                      <span class="icon-agent">
                        <em class="tooltip-container">
                          <strong class="tooltip">
                            <ul class="list-tooltip">
                              <% @agent = Agent.find_by_transaction_id(i.id) %>
                              <% if @agent.present? %><% @user = User.find_by_id(@agent.user_id) %><% end %>
                              <li class="alcent"><% if @user.present? %><%= @user.first_name %><% end  %></li>
                            </ul>
                            <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </span>
                      <img alt="" title="" src="/assets/spacer.png" />
                    </div>
                    <div class="column w20"><% if i.location.present? %><%= i.location.name %><% end %><img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column"><%= i.close_date  %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column last">
                      <span class="btn-action">
                        <em class="tooltip-container"><span>Action</span>
                          <strong class="tooltip">
                            <ul class="list-tooltip">
                              <li class="icon-zoomin"><a title="View Trasaction" href="#">View Trasaction</a></li>
                              <li class="icon-edit"><a title="Edit Trasaction" href="#">Edit Trasaction</a></li>
                            </ul>
                            <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </span>
                    </div>
                  </div>
                <% end %>

                <div class="clearFix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contentbox">
  <h1><%= @closing_transactions.count %> Transactions Closing in the Next 30 Days</h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <div class="tableTransaction">
                <% if @closing_transactions.present? %>
                  <h1>
                    <div class="transactionrow">
                      <div class="column w30">Transaction</div>
                      <div class="column">Status</div>
                      <div class="column w8">Complete</div>
                      <div class="column">Agents</div>
                      <div class="column w20">Location</div>
                      <div class="column">Close Date</div>
                      <div class="column last">Actions</div>
                    </div>
                  </h1>
                <% end %>
                <% @closing_transactions.first(3).each do |i| %>
                  <div class="transactionrow">
                    <div class="column w30"><%= link_to i.transaction_name[0..24], transaction_path(i) %><img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column"><%= best_in_place i, :status %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column w8">

                      <% @completed_tasks = i.tasks.where("status = ?", true) %>
                      <% @tasks = i.tasks  %>

                      <div class="completebox"onclick="transaction_show(<%=  i.id %>)">
                        <em class="tooltip-container"><abbr><%= @completed_tasks.count %>/<%= @tasks.count %></abbr>
                          <strong class="tooltip">
                            <h6><%= i.transaction_name.first(15) %></h6>
                            <p>List Price <%= i.list_price %></p>
                            <h4>Incomplete Task</h4>
                            <p><span>
                                <% if i.checklists.present? %>
                                  <% i.checklists.each do |c|  %>
                                    <b><%= c.name %>:</b>
                                    <% if c.tasks.present? %>
                                      <% c.tasks.each do |t| %>
                                        <%= t.name %><br />
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                <% end %><br />

                                <h4<% @cs = i.checklists.count  %>
                                  <% @ts = i.tasks.count %>>Recent Notes:</h4>
                                <p><span><% if i.notes.present? %>
                                      <% i.notes.last(2).each do |n| %>
                                        <%= n.description %><br />
                                      <% end %>
                                    <% end %></span></p>
                                <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </div>

                      <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column">
                      <span class="icon-agent">
                        <em class="tooltip-container">
                          <strong class="tooltip">
                            <ul class="list-tooltip">
                              <% @agent = Agent.find_by_transaction_id(i.id) %>
                              <% if @agent.present? %><% @user = User.find_by_id(@agent.user_id) %><% end %>
                              <li class="alcent"><% if @user.present? %><%= @user.first_name %><% end  %></li>
                            </ul>
                            <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </span>
                      <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column w20"><% if i.location.present? %><%= i.location.name %><% end %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column"><%= i.close_date %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column last">
                      <span class="btn-action">
                        <em class="tooltip-container"><span>Action</span>
                          <strong class="tooltip">
                            <ul class="list-tooltip">
                              <li class="icon-zoomin"><%= link_to "View Transaction", transaction_path(i)  %> </li>
                            </ul>
                            <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </span>
                    </div>
                  </div>
                <% end %>

              </div>
              <div class="clearFix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contentbox">
  <% @count = [] %>
  <h1> Transactions Added in <%= Date.today.strftime("%B") %> </h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <div class="tableTransaction">
                <% if @this_month_transactions.present? %>
                  <h1>
                    <div class="transactionrow">
                      <div class="column w30">Transaction</div>
                      <div class="column">Status</div>
                      <div class="column w8">Complete</div>
                      <div class="column">Agents</div>
                      <div class="column w20">Location</div>
                      <div class="column">Close Date</div>
                      <div class="column last">Actions</div>
                    </div>
                  </h1>
                <% end %>
                <% @this_month_transactions.each do |i| %>
                  <% @count << 1 %>
                  <div class="transactionrow">
                    <div class="column w30"><%= link_to i.transaction_name[0..24], transaction_path(i) %><img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column"><%= best_in_place i, :status %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column w8">
                      <% @completed_tasks = i.tasks.where("status = ?", true) %>
                      <% @tasks = i.tasks  %>
                      <div class="completebox" onclick="transaction_show(<%=  i.id %>)">
                        <em class="tooltip-container"><abbr><%= @completed_tasks.count %>/<%= @tasks.count %></abbr>
                          <strong class="tooltip">
                            <h6><%= i.transaction_name.first(15) %></h6>
                            <p>List Price <%= i.list_price %></p>
                            <h4>Incomplete Task</h4>
                            <p><span>
                                <% if i.checklists.present? %>
                                  <% i.checklists.each do |c|  %>
                                    <b><%= c.name %>:</b>
                                    <% if c.tasks.present? %>
                                      <% c.tasks.each do |t| %>
                                        <%= t.name %><br />
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                <% end %><br />
                                <h4<% @cs = i.checklists.count  %>
                                  <% @ts = i.tasks.count %>>Recent Notes:</h4>
                                <p><span><% if i.notes.present? %>
                                      <% i.notes.last(2).each do |n| %>
                                        <%= n.description %><br />
                                      <% end %>
                                    <% end %></span></p>
                                <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </div>
                      <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column">
                      <span class="icon-agent">
                        <em class="tooltip-container">
                          <strong class="tooltip">
                            <ul class="list-tooltip">
                              <% @agent = Agent.find_by_transaction_id(i.id) %>
                              <% if @agent.present? %><% @user = User.find_by_id(@agent.user_id) %><% end %>
                              <li class="alcent"><% if @user.present? %><%= @user.first_name %><% end  %></li>
                            </ul>
                            <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </span>
                      <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column w20"><% if i.location.present? %><%= i.location.name %><% end %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column"><%= i.close_date %> <img alt="" title="" src="/assets/spacer.png" /></div>
                    <div class="column last">
                      <span class="btn-action">
                        <em class="tooltip-container"><span>Action</span>
                          <strong class="tooltip">
                            <ul class="list-tooltip">
                              <li class="icon-zoomin"><%= link_to "View Transaction", transaction_path(i)  %> </li>
                            </ul>
                            <i class="top-arrow"></i>
                          </strong>
                        </em>
                      </span>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="clearFix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearFix"></div>

<%#*<script type="text/javascript" language="javascript" src="js/jquery_002.js"></script>%>
<script type="text/javascript" language="javascript">
                        jQuery(document).ready(function() {
                          jQuery('#leftColumnShow').click(function() {
                            jQuery('#leftColumn').slideToggle('slow', function() {
                            })
                          });
                          jQuery('#closeBox').click(function() {
                            jQuery('#leftColumn').slideToggle('slow', function() {
                            })
                          });
                        });

</script>