<%= form_for current_user, :url => change_password_dashboard_index_path, :method => "PUT" do |f|  %>
  <table>
    <tr>
      <td><%= f.label :email, "Email:" %></td>
    </tr>
    <tr>
      <td><%= f.email_field :email, :autofocus => true %></td>
      <td><%= validation_error(current_user.errors["email"]) %></td>
    </tr>
    <tr>
      <td><%= f.label :current_password, "Old Password:" %></td>
    </tr>
    <tr>
      <td><%= f.password_field :current_password %></td>
      <td><%= validation_error(current_user.errors["current_password"]) %></td>
    </tr>
    <tr>
      <td><%= f.label :password, "New Password" %></td>
    </tr>
    <tr>
      <td><%= f.password_field :password %></td>
      <td><%= validation_error(current_user.errors["password"]) %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation, "New Password Confirmation" %></td>
    </tr>
    <tr>
      <td><%= f.password_field :password_confirmation %></td>
      <td><%= validation_error(current_user.errors["password_confirmation"]) %></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td><%= f.submit "Save Settings" %></td>
      <td></td>
    </tr>
  </table>
<% end %>