<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link type="text/css" href="/assets/default.css" rel="stylesheet" media="all" />
      <title>Sign Up</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%['notice', 'error', 'warning', 'alert'].each do |f|%>
        <%if flash[f.to_sym]%>
          <script type="text/javascript" >
            jQuery(function () {
              jQuery.notifyBar({
                cls: "<%= f %>",
                html: "<%=  flash[f.to_sym] %>",
                delay: 1000,
                animationSpeed: "normal"
              });
            });
          </script>
        <%end%>
      <% end %>
  </head>
  <body class="page-signup">
    <div id="maindiv">
      <div id="header">
        <div class="cr">
          <div class="">
            <div class="fright"><%= link_to "Login", new_user_session_path, :id => "user_register" %></div>
            <p>Cloud 9 Transaction Management</p>
          </div>
          <div class="clearFix"></div>
        </div>
        <div class="clearFix"></div>
      </div>
      <div id="content">
        <div class="signupBox">
          <h4>Create Your Account</h4>
          <div class="signupLeftColumn">
            <div id="login-error-message"></div>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => {:id => "user_sign_in"}) do |f| %>
              <%= params[:message].to_s.html_safe %>
              <%= devise_error_messages! %>
              <div class="signupRow">
                <%= f.text_field :first_name, :class => "min-input", :title => "First Name", :placeholder => "First Name", :type => "text" %><span style="color:red;">*</span>
                <%= f.text_field :last_name, :class => "min-input", :title => "Last Name", :placeholder => "Last Name", :type => "text" %><span style="color:red;">*</span>
              </div>
              <div class="signupRow">
                <%= f.text_field :company_name, :title => "Company Name", :placeholder => "Company Name", :type => "text" %><span style="color:red;">*</span>
                <span>We'll use this to brand your Cloud9 system. You can change this later.</span>
              </div>
              <div class="signupRow">
                <%= f.text_field :phone_number, :title => "Phone Number", :placeholder => "Phone Number", :type => "text" %><span style="color:red;">*</span>
              </div>

              <div class="signupRow">
                <%= f.select :location, options_for_select([["Any Location ->", ""]]+Location.all.collect{|c| [c.name, c.id]}, params[:locations]), :id => "locationI", :title => "Location" %><span style="color:red;">*</span>
              </div>

              <div class="signupRow">
                <%= f.email_field :email, :title => "Email Address", :placeholder => "Email Address", :type => "text" %><span style="color:red;">*</span>
                <span>You'll use this address to log in to your Cloud9 system</span>
              </div>
              <div class="signupRow">
                <%= f.password_field :password, :title => "Password", :placeholder => "Password", :type => "password" %><span style="color:red;">*</span>
              </div>
              <div class="signupRow">
                <%= f.password_field :password_confirmation, :title => "Confirm Password", :placeholder => "Confirm Password", :type => "password" %><span style="color:red;">*</span>
              </div>
              <div class="signupRow">
                <%= f.submit "Sign up", :class => "btn-createAccount", :type => "submit", :value => "Create Account", :title => "Create Account" %>
                <p>
                  By creating an account, you agree to our<br /> <a title="Terms of Service" href="#">Terms of Service</a> and <a title="Privacy Policy" href="#">Privacy Policy</a>.
                </p>

              <% end %>
            </div>
          </div>
          <div class="signupRightColumn">
            <p><img title="Safe and Secure" alt="Safe and Secure" src="/assets/img-lock.png" /></p>
            <h4>Safe and Secure</h4>
            <p><span>Cloud 9 incorporates the most advanced security solutions, giving you the<br /> same level of data protection and redundancy as an online bank.</span></p>
            <p><img title="Real Time Service Alerts" alt="Real Time Service Alerts" src="/assets/img-exclamation-mark.png" /></p>
            <h4>Real Time Service Alerts</h4>
            <p><span>Cloud 9 sends you real time service alerts through emails so that you<br /> don't miss out any transactions</span></p>
          </div>
        </div>
        <div class="clearFix"></div>
      </div>
      <div id="footer">
        <div class="footerMenu">
          <ul>
            <li><a title="Home" href="#">Home</a></li>
            <li><a title="Privacy Policy" href="#">Privacy Policy</a></li>
            <li><a title="Blog" href="#">Blog</a></li>
            <li><a title="Live Help" href="#">Live Help</a></li>
            <li><a title="Contact" href="#">Contact</a></li>
          </ul>
        </div>
        <div class="clearFix"></div>
      </div>
    </div>
  </body>
</html>


<style>
  /*
* Notify Bar - jQuery plugin
*
* Copyright (c) 2009-2010 Dmitri Smirnov
*
* Licensed under the MIT license:
* http://www.opensource.org/licenses/mit-license.php
*
* Version: 1.2
*
* Project home:
* http://www.dmitri.me/blog/notify-bar
  */

  .jquery-notify-bar {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:32768;
    background-color:#efefef;
    font-size:18px;
    text-align:center;
    font-family: Arial, Verdana, sans-serif;
    padding:20px 0px;
    border-bottom:1px solid #bbb;
    cursor: pointer;
  }
  /*  default css classes
  .jquery-notify-bar.error {
    color:#f00;
    background-color:#fdd;
  }
  .jquery-notify-bar.success {
    color:#060;
    background-color:#BBFFB6;
  }
  .notify-bar-close {
    position:absolute;
    left:95%;
    font-size:11px;
  }
  */

  #siginin-page-user-name-text {
    font-size: 20px;
    color: white;
  }
  #siginin-page-password-text{
    font-size: 20px;
    color: white;
  }

  .jquery-notify-bar.error,.jquery-notify-bar.alert {
    color: red;
    background-color:#EAE5E1;
  }
  .jquery-notify-bar.success, .jquery-notify-bar.notice {
    color:green;
    background-color:#EAE5E1;
  }
  .jquery-notify-bar.warning {
    color: #BF6347;
    background-color:#EAE5E1;
  }
  .notify-bar-close {
    position:absolute;
    left:95%;
    font-size:11px;
  }
</style>

<script>
  /*
   * Notify Bar - jQuery plugin
   *
   * Copyright (c) 2009-2010 Dmitri Smirnov
   *
   * Licensed under the MIT license:
   * http://www.opensource.org/licenses/mit-license.php
   *
   * Version: 1.2.2
   *
   * Project home:
   * http://www.dmitri.me/blog/notify-bar
   */

  /**
   * param Object
   */
  jQuery.notifyBar = function(settings) {

    (function($) {

      var bar = notifyBarNS = {};
      notifyBarNS.shown = false;

      if( !settings) {
        settings = {};
      }
      // HTML inside bar
      notifyBarNS.html = settings.html || "Your message here";

      //How long bar will be delayed, doesn't count animation time.
      notifyBarNS.delay = settings.delay || 2000;

      //How long notifyBarNS bar will be slided up and down
      notifyBarNS.animationSpeed = settings.animationSpeed || 200;

      //Use own jquery object usually DIV, or use default
      notifyBarNS.jqObject = settings.jqObject;

      //Set up own class
      notifyBarNS.cls = settings.cls || "";

      //close button
      notifyBarNS.close = settings.close || false;

      if( notifyBarNS.jqObject) {
        bar = notifyBarNS.jqObject;
        notifyBarNS.html = bar.html();
      } else {
        bar = jQuery("<div></div>")
        .addClass("jquery-notify-bar")
        .addClass(notifyBarNS.cls)
        .attr("id", "__notifyBar");
      }

      bar.html(notifyBarNS.html).hide();
      var id = bar.attr("id");
      switch (notifyBarNS.animationSpeed) {
        case "slow":
          asTime = 600;
          break;
        case "normal":
          asTime = 400;
          break;
        case "fast":
          asTime = 200;
          break;
        default:
          asTime = notifyBarNS.animationSpeed;
      }
      if( bar != 'object'); {
        jQuery("body").prepend(bar);
      }

      // Style close button in CSS file
      if( notifyBarNS.close) {
        bar.append(jQuery("<a href='#' class='notify-bar-close'>Close [X]</a>"));
        jQuery(".notify-bar-close").click(function() {
          if( bar.attr("id") == "__notifyBar") {
            jQuery("#" + id).slideUp(asTime, function() { jQuery("#" + id).remove() });
          } else {
            jQuery("#" + id).slideUp(asTime);
          }
          return false;
        });
      }

      // Check if we've got any visible bars and if we have, slide them up before showing the new one
      if($('.jquery-notify-bar:visible').length > 0) {
        $('.jquery-notify-bar:visible').stop().slideUp(asTime, function() {
          bar.stop().slideDown(asTime);
        });
      } else {
        bar.slideDown(asTime);
      }

      // Allow the user to click on the bar to close it
      bar.click(function() {
        $(this).slideUp(asTime);
      })

      // If taken from DOM dot not remove just hide
      if( bar.attr("id") == "__notifyBar") {
        setTimeout("jQuery('#" + id + "').stop().slideUp(" + asTime +", function() {jQuery('#" + id + "').remove()});", notifyBarNS.delay + asTime);
      } else {
        setTimeout("jQuery('#" + id + "').stop().slideUp(" + asTime +", function() {jQuery('#" + id + "')});", notifyBarNS.delay + asTime);
      }

    })(jQuery) };


  $("#user_sign_in").bind("ajax:complete", function(a,b){
    $("#login-error-message").html();

    if(b.status == "401") {
      $("#login-error-message").html(b.responseText);

    } else{
      window.location.href = jQuery.parseJSON(b.responseText).redirectUrl;
    }
  });

</script>
