<%= form_for @comment, :url => document_comments_path(@document), :remote => true do |f| %>
  <table style="background-color: gray;">
    <tr>
      <td><%= f.text_field :comment %></td>
      <td><%= f.submit "Save" %></td>
      <td><%= link_to_function "Cancel", "", :id => "cancel_#{@document.id}" %></td>
    </tr>
  </table>
<% end %>
<style>
  #comment_comment{
    width: 500px;
  }
</style>
<script>
  $("#cancel_<%= @document.id %>").click(function(){
    $("#comment_<%= @document.id %>").hide();
  })
</script>