<% @user = User.all %>
<% @transaction = Transaction.all %>
<% @locations = Location.all %>

<table id="content" style="min-height:25px; height:25px; width:100%;">
  <tr style="border:solid 1px black;background-color:#F2F2F2;height:50px;height:25px;">
    <th>Location</th>
    <th>Users</th>
    <th>Transactions</th>
    <th>Working Docs</th>
    <th>Action</th>
  </tr>
  <% @locations.each do |l| %>
    <tr>
      <td align="center"> <%= l.location %> </td>
      <td align="center"> <%= @user.count %> </td>
      <td align="center"> <%= @transaction.count %> </td>
      <td align="center"> 0 </td>
      <td class="actions">Actions
       <ul class="nav nav-pills nav-stacked">  
          <li class="active">  
          <a href="#">Home</a></li>     
          <li><%= link_to "Edit", edit_location_path(l) %></li>   
          <li><%= link_to "Delete", location_path(l), :method => "DELETE" %></li>   
        </ul>
  	  </td>
    
    </tr>
    <%= link_to "Delete", location_path(l), :method => "DELETE", :remote => true %>
  <% end %>
  
</table>

<script>
  $(document).ready(function(){
    $(".nav-stacked").hide();
    $(".actions").click(function(){
      $(".nav-stacked").show();
      $("#nav-stacked").css("position","absolute");
    });
  });
</script>
