<div class="contentbox">
  <h2>Add New User</h2>
  <div style="background-color:white;padding-left:30px;">
    <div id="form_div">
      <%= render :partial =>"form" %>
    </div>
    <div id="role-text-box">
      <%= form_for :role, :url => add_role_users_path(current_user), :method => 'POST', :remote => true do |f| %>
        <%= f.text_field :role, :type => "text2" %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Save", :class => "btn-save",  :title => "Save", :type => "submit", :value => "Save" %>
        <%= link_to "Cancel", add_user_users_path(current_user) %>
      <% end %>
    </div>

  </div>
</div>
<div class="clearFix"></div>

<style>
  #role-text-box{
    margin-left: 461px;
    margin-top: -234px;
    position: absolute;
  }
</style>

<script>
  $(document).ready(function(){
    $("#role-text-box").hide();
    $("#add-role").click(function(){
      $("#role-text-box").show();
      $(this).hide();
    });
  });
</script>