<h2><b>Manage Locations</b></h2>
<hr></hr>
<br />
<div class="add-location-button">
  <%= button_tag "Add Location", :class => "btn btn-success" %>
</div>
<br /><br />

<div id="location" style="border:solid black 1px;background-color:#F2F2F2;height:50px">
   <%= form_for :location, :url => location_path(current_user), :method => 'PUT', :remote => true do |f| %>
      <b>Location Name</b><br /> 
      <%= f.text_field :location %> 
      <%= f.submit "Add Location", :class => "btn btn-success" %>
   <% end %>
</div>
<br /><br />
<div id='manage_locations'>
<%= render :partial => 'manage_locations' %>
</div>
<br /><br /><br />
<% @user = User.all %>
<% @transaction = Transaction.all %>



<script>
  $(document).ready(function(){
    $("#location").hide();
    $(".add-location-button").click(function(){
      $("#location").toggle(800);
      $("#location").css("background-color","#F2F2F2");
    });
  });
</script>
