
<table width="100%" cellpadding="5" id="docs">
  <% if @documents.present? %>
    <tr style="font-weight: bold;border: 1px solid grey;">
      <td>Info</td>
      <td>Working Docs</td>
      <td>Added By</td>
      <td>Added On</td>
      <td>Comments</td>
      <td>Actions</td>
    </tr>
    <% for document in @documents %>
      <tr>
        <td><%= image_tag(document.document.url) %></td>
        <td><%= image_tag(document.document.url) %></td>
        <td><%= document.user.email %></td>
        <td><%= time_ago_in_words(document.created_at) %></td>
        <% if document.comments.present? %>
          <td><%= link_to "Comments", document_comments_path(document), :remote => true %></td>
        <% else %>
          <td><%= link_to "Comments", new_document_comment_path(document), :remote => true %></td>
        <% end %>
          <td><%= link_to "Delete", document_path(document), :method => :delete, :remote => true, :confirm => "are you sure" %></td>
      </tr>
      <tr>
        <td><div id="comment_<%= document.id %>" style="width: 300px;"></div></td>
      </tr>

    <% end %>
  <% else %>
  <script>
  alert("Please upload Documents")
  </script>
    <tr><td>No Documents</td></tr>
  <% end %>
</table>

<script>
  $("#minus").click(function(){
    $("#docs").hide();
    $("#minus").hide();
    $("#plus").show();
  })

  $("#plus").click(function(){
    $("#docs").show();
    $("#minus").show();
    $("#plus").hide();
  })
</script>


