<div class="contentbox">

  <h1>
    <div class="column w5">Info</div>
    <div class="column w30">Contract Forms</div>
    <div class="column w12">Comments</div>
    <div class="column w20">Added By</div>
    <div class="column w20">Added On</div>
    <div class="column last">Actions</div>
  </h1>
  <div class="box">
    <% @documents.each do |document| %>
      <div id="searched-documents">
        <div class="tableTransaction">
          <div class="transactionrow">
            <div class="column w5"><div class="icon-pdf"></div></div>
            <div class="column w30"><%= document.document_file_name[0..24] %></div>
            <div class="column w12"><div id="comment" class="icon-comment" onclick = "show_commentbox('<%= document.id %>')"></div></div>
            <div class="column w20"><%= current_user.email %></div>
            <div class="column w20"><%= document.created_at.to_date %></div>
            <%= link_to "Assign", assign_document_transactions_path(:id => document.id) %>
            <div class="column last">
              <span class="btn-action admin">
                <em class="tooltip-container"><span>Action</span>
                  <strong class="tooltip">
                    <ul class="list-tooltip">
                      <li class="icon-download"><%= link_to "Download", download_path(:id => document.id) %></li>
                      <%#*<li class="icon-edit"><a title="Edit Doc" href="#">Edit Doc</a></li>%>
                      <li class="icon-delete"><%= link_to "Delete", document_path(document), :method => "DELETE" %></li>
                    </ul>
                    <i class="top-arrow"></i>
                  </strong>
                </em>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>