<h4>
  Working Docs<%= link_to "Filter", search_documents_path, :remote => true, :style => 'float: right;' %>
</h4>
<div id="search"></div>
<table width="100%" cellpadding="5" id="docs" border="1">
  <tr style="font-weight: bold;">
    <td>Info</td>
    <td>Working Docs</td>
    <td>Location</td>
    <td>Added By</td>
    <td>Added On</td>
    <td>Comments</td>
    <td>Actions</td>
  </tr>
  <% for document in @documents %>
    <tr>
      <td style="width: 100px;"><%= document.document_file_name %></td>
      <td><%= document.document_file_name %></td>
      <td><%= document.location.location %></td>
      <td><%= document.user.email %></td>
      <td><%= time_ago_in_words(document.created_at) %></td>
      <% if document.comments.present? %>
        <td><%= link_to "Comments", document_comments_path(document), :remote => true %></td>
      <% else %>
        <td><%= link_to "Comments", new_document_comment_path(document), :remote => true %></td>
      <% end %>
      <td id="aaa_<%= document.id %>" class="btn"><%= "Actions" %></td>
    </tr>
    <tr>
      <td><div id="comment_<%= document.id %>" style="width: 300px;"></div></td>
    </tr>
    <div id="dddd_<%= document.id %>" style="display: none;">
      <%= link_to "Delete", document_path(document), :method => :delete, :remote => true, :confirm => "are you sure" %>
    </div>
    <script>
      $("#aaa_<%= document.id %>").click(function(){
        $("#dddd_<%= document.id %>").show();
      })
    </script>
  <% end %>
</table>



