<%= form_for @document do |f| %>
  <table>
    <tr>
      <td>Location:</td>
      <td><%= f.select :location_id, options_for_select(Location.all.collect{|c| [c.location, c.id]}) %></td>
    </tr>
    <tr>
      <td>Document Type:</td>
      <td><%= f.select :document_type, %w(sale private listing) %></td>
    </tr>
    <tr>
      <td>Document:</td>
      <td><%= f.file_field :document %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Document" %></td>
    </tr>
  </table>
<% end %>