<div class="contentbox">
  <h1>Office Docs</h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <h3><em>Forms, disclosures, and listing presentations available to the entire company.</em></h3>
              <div class="unreviewedBox page-transactionsN">
                <div class="unreviewedBoxContent">
                  <input class="btn-quickSearch active" title="Quick Search" value="Quick Search" type="submit" />
                  <p>
                    <%= form_tag search_documents_path, :method => :get, :remote => true do  %>
                    <p>
                      <%= text_field_tag :query  %>
                    </p>
                    <p class="button">
                      <%= submit_tag "Search", :class => "btn-searchDocs", :title => "Search Docs", :value => "Search Docs", :type => "submit"%>
                    </p>
                  <% end %>
                  </p>
                </div>
              </div>
              <div id="searched-documents">
                <p>Only active Documents are shown below. <a class="link-viewall" title="View all &rarr;" href="#">View all &rarr;</a></p>
                <div class="contentbox">

                  <h1>
                    <div class="column w5">Info</div>
                    <div class="column w30">Contract Forms</div>
                    <div class="column w12">Comments</div>
                    <div class="column w20">Added By</div>
                    <div class="column w20">Added On</div>
                    <div class="column last">Actions</div>
                  </h1>
                  <div class="box">
                    <% @documents.each do |document| %>
                      <div id="searched-documents">
                        <div class="tableTransaction">
                          <div class="transactionrow">
                            <div class="column w5"><div class="icon-pdf"></div></div>
                            <div class="column w30"><% if document.document_file_name.present? %><%= document.document_file_name %><% else %><%= document.id %><% end %></div>
                            <div class="column w12"><div id="comment" class="icon-comment"></div></div>
                            <div class="column w20"><%= current_user.email %></div>
                            <div class="column w20"><%= document.created_at.to_date %></div>
                            <div class="column last">
                              <span class="btn-action admin">
                                <em class="tooltip-container"><span>Action</span>
                                  <strong class="tooltip">
                                    <ul class="list-tooltip">
                                      <li class="icon-download"><%= link_to "Download", download_path(:id => document.id) %></li>
                                      <li class="icon-edit"><a title="Edit Doc" href="#">Edit Doc</a></li>
                                      <li class="icon-delete"><%= link_to "Delete", document_path(document), :method => "DELETE" %></li>
                                    </ul>
                                    <i class="top-arrow"></i>
                                  </strong>
                                </em>
                              </span>
                            </div>
                            <div class="commentBox" id="commentBox" style="display:none">
                              <%= form_for(document.comments.new, :url =>document_comments_path(document.id), :remote => true) do |f| %>
                                <%= f.text_field :comment  %>
                                <input class="btn-save" title="Save" type="submit" value="Save" />
                                <input class="btn-cancel" title="Save" type="submit" value="Save" />
                              <% end %>
                              <% unless document.comments.nil? %>
                                <table width="70%;" cellpadding="10px">
                                  <tr>
                                    <td>Comment</td>
                                    <td>User</td>
                                    <td>Actions</td>
                                  </tr>
                                  <% document.comments.each do |comment| %>
                                    <tr>
                                      <td>
                                        <%= comment.comment %>
                                      </td>
                                      <td><%= comment.user %></td>
                                      <td><%= link_to "delete", document_comments_path(document.id, comment.id), :method => "delete", :confirm => "Are you sure?", :remote => true %></td>
                                    </tr>
                                  <% end %>
                                </table>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="clearFix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearFix"></div>
</div>
<div class="clearFix"></div>
<script type="text/javascript" language="javascript" src="/assets/jquery_002.js"></script>
<script type="text/javascript" language="javascript">
  jQuery(document).ready(function () {
    jQuery('#comment').click(function () {
      jQuery('#commentBox').slideToggle('slow', function () {})
    });
    jQuery('#leftColumnShow').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
    jQuery('#closeBox').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
  });
</script>

