<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= stylesheet_link_tag "default.css" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%['notice', 'error', 'warning', 'alert'].each do |f|%>
        <%if flash[f.to_sym]%>
          <script type="text/javascript" >
            jQuery(function () {
              jQuery.notifyBar({
                cls: "<%= f %>",
                html: "<%=  flash[f.to_sym] %>",
                delay: 1000,
                animationSpeed: "normal"
              });
            });
          </script>
        <%end%>
      <% end %>
  </head>
  <body class="page-login">
    <div style="margin-top:-157px;" class="fright"><%= button_to "Signup", new_user_registration_path,:class => "btn-createAccount", :method => "get" %></div>

<%#= link_to "Signup", new_user_registration_path, :class => "btn-createAccount", :type => "submit", :value => "Create Account", :title => "Create Account" %>

    <div id="loginbox">
      <h5>Log In to Cloud 9</h5>
      <div class="loginContent">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <p><%= f.email_field :email, :autofocus => true,:class => "icon-user", :title => "Username", :type => "text", :placeholder => "Username" %></p>
          <p><%= f.password_field :password, :class => "icon-password", :title => "Password", :type => "password", :placeholder => "Password"  %></p>
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "fright" %>
          <p>Remember me <%= f.check_box :remember_me, :title =>"Remember me", :alt =>"Remember me", :src => "/assets/icon-checkbox.png" %></p>
          <%= f.submit "Sign In", :class => "btn-signin" %>
        <% end %>
      </div>
    </div>
  </body>
</html>