<% unless contacts.nil? %>
  <h3>Contacts</h3>
  <ul class="list-contact" style="font-weight: bold;">
    <li>Name</li>
    <li>Role</li>
    <li>Phone</li>
    <li>Fax</li>
    <li>Email</li>
  </ul>
  <% contacts.each do |contact| %>
    <ul class="list-contact">
      <li><%= contact.name %></li>
      <li><%= contact.role %></li>
      <li><%= contact.phone %></li>
      <li><%= contact.fax %></li>
      <li><%= contact.email %></li>
    </ul>
  <% end %>
<% end %>
