<% if @checklists.present? or @documents.present? %>
  <% if @checklists.present? %>
    <table id="content" style="min-height:25px; height:25px; width:100%;">
      <tr style="border:solid 1px black;background-color:#F2F2F2;height:50px;height:25px;">
        <th>Checklist</th>
        <th>Location</th>
        <th>Created by</th>
        <th>Actions</th>
      </tr>

    <% @checklists.each do |checklist| %>
      <tr>
        <td align="center"><%= checklist.name %></td>
        <% @location = Location.find_by_id(checklist.location_id) %>
        <% @user = User.find_by_id(checklist.created_by) %>
        <% if @location.present? %>
        <td align="center"><%= @location.location %></td>
        <% else %>
          <td align="center"><%=  %></td>
        <% end %>
       <% if @user.present? %>
        <td align="center"><%= @user.id %></td>
        <% else %>
          <td align="center"><%=  %></td>
        <% end %>
        <td align="center"><%= link_to "Delete", checklist_path(checklist), :method => 'DELETE' %></td>
      </tr>
    <% end %>
    </table>
  <%  end %>

  <% if @documents.present? %>
    <table width="100%" cellpadding="5" id="docs" border="1">
      <tr style="font-weight: bold;">
        <td>Info</td>
        <td>Working Docs</td>
        <td>Added By</td>
        <td>Added On</td>
        <td>Comments</td>
        <td>Actions</td>
      </tr>
      <% for document in @documents %>
        <tr>
          <td style="width: 100px;"><%= document.document_file_name %></td>
          <td><%= document.document_file_name %></td>
          <td><%= document.user.email %></td>
          <td><%= time_ago_in_words(document.created_at) %></td>
          <% if document.comments.present? %>
            <td><%= link_to "Comments", document_comments_path(document), :remote => true %></td>
          <% else %>
            <td><%= link_to "Comments", new_document_comment_path(document), :remote => true %></td>
          <% end %>
          <td id="aaa_<%= document.id %>" class="btn"><%= "Actions" %></td>
        </tr>
        <tr>
          <td><div id="comment_<%= document.id %>" style="width: 300px;"></div></td>
        </tr>
        <div id="dddd_<%= document.id %>" style="display: none;">
          <%= link_to "Delete", document_path(document), :method => :delete, :remote => true, :confirm => "are you sure" %>
        </div>
        <script>
          $("#aaa_<%= document.id %>").click(function(){
            $("#dddd_<%= document.id %>").show();
          })
        </script>
      <% end %>
    </table>
  <% end  %>
<%  else %>
  No transactions match your search or filter criteria. View all active transactions or create a new one.
<% end %>
