<div class="contentbox">
  <h1>Transactions <span>(Showing all 17 transactions)</span></h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <h3>Email docs to your Working Docs page: <strong>2946-32647-x@docs.paperlesspipeline.com  Download</strong></h3>
              <div class="unreviewedBox page-transactionsN">
                <div class="unreviewedBoxContent">
                  <input class="btn-quickSearch" title="Quick Search" value="Quick Search" type="submit" />
                  <%= link_to "Quick search", transactions_path, :class => "btn-quickSearch", :title => "Quick Search", :value => "Quick Search", :type => "submit" %>
                  <input class="btn-advanceSearch active" title="Advance search" value="Advance search" type="submit" />
                  <%= link_to "Filter", filter_transactions_path, :class => "btn-filter", :title => "Filter", :value => "Filter", :type => "submit" %>
                  <ul class="list-advanceSearch">
                    <%= form_for '', :url => advance_search_transactions_path, :method => "GET", :remote => true do |f| %>
                      <p>Advance Search</p>
                      <%= f.text_field :name, :placeholder => "Search by Address, Agents or MLS", :title => "Advance Search" %>
                      <br />
                      <li>
                        <p>Close date start (m/d/yyyy)</p>
                        <%= f.text_field :close_date, :class => "icon-closedate", :title => "Close date start (m/d/yyyy)", :type => "text" %>
                      </li>
                      <li>
                        <p>Expiry date start (m/d/yyyy)</p>
                        <%= f.text_field :automatic_expire_date, :class => "icon-closedate", :title => "Close date start (m/d/yyyy)", :type => "text" %>
                      </li>
                      <li>
                        <p>Status</p>
                        <%= f.select :status, options_for_select(["Any status", "Active ", "Active", "Agencey Agreement", "Buyer Agreement", "Prospective", "Working",
                            "Listing ", "Listing", "Listing for Review", "Listing -Short sale",
                            "Pending ", "Contingent", "Contigent-Escrow Cancelling","Escrow", "In Contract", "Lease for Review", "Offer Pending", "Pending", "Pending for Review", "Pending Reviewed", "Pending-Short Sale", "Rental Pending", "Under Contract",
                            "Other ", "Agent_exit","Agent File", "Attorny Review", "Backup Offer", "Bank Owned","Commercial Property","CREST","Duplicate","Excess","Firm","Lawyer Info","Lease Contract","Lease Option", "Lease / Purchase","MLS","Office Use","Off Market","Property Management","Referral","Short Sale","Showing Desk","Subject","Temporarily Off Market",
                            "Closed " "Closed","Closed-Need Requirements","Leased","Payout","Payout/Follow-up","Payout/Pre-Process","Payout to Review",
                            "Fell Through ","Cancelled","Deal Fell Through","Fell Through","Rejected","Terminated",
                            "Auto Expiry ", "Expired/Withdrawn"],:disabled => ["Active ", "Listing ","Pending ","Other ","Closed ","Fell Through ","Auto Expiry "]) %>
  <%#= f.text_field :status, :title => "Any Status", :placeholder => "Any Status", :type => "text" %>
                      </li>
                    </ul>
                    <%= f.submit "search", :class => "btn-searchTransactions btn-advancesearch" %>
                    <div class="clearFix"></div>
                  <% end %>
                </div>
              </div>
              <div class="contentbox">
                <h1>
                  <div class="column w30">Transaction</div>
                  <div class="column">Status</div>
                  <div class="column w11">Complete</div>
                  <div class="column w9">Agents</div>
                  <div class="column w20">Location</div>
                  <div class="column">Close Date</div>
                  <div class="column last">Actions</div>
                </h1>
                <div id="advance_search">
                  <div class="box">
                    <div class="tableTransaction">
                      <div class="transactionrow">
                        <% @transactions.each do |i|  %>
                          <div class="tableTransaction">
                            <div class="transactionrow">
                              <div class="column w30"><%= link_to i.transaction_name, transaction_path(i) %></div>
                              <div class="column"><%= i.status %> </div>
                              <div class="column w11">

                                <% @completed_tasks = i.tasks.where("status = ?", true) %>
                                <% @tasks = i.tasks  %>

                                <div class="completebox"  onclick="transaction_show(<%=  i.id %>)">
                                  <em class="tooltip-container"><abbr><%= @completed_tasks.count %>/<%= @tasks.count %></abbr>
                                    <strong class="tooltip">
                                      <h6><%= i.transaction_name.first(15) %></h6>
                                      <p>List Price <%= i.list_price %></p>
                                      <h4>Incomplete Task</h4>
                                      <p><span>
                                          <% if i.checklists.present? %>
                                            <% i.checklists.each do |c|  %>
                                              <b><%= c.name %>:</b>
                                              <% if c.tasks.present? %>
                                                <% c.tasks.each do |t| %>
                                                  <%= t.name %><br />
                                                <% end %>
                                              <% end %>
                                            <% end %>
                                          <% end %><br />

                                          <h4<% @cs = i.checklists.count  %>
                                            <% @ts = i.tasks.count %>>Recent Notes:</h4>
                                          <p><span><% if i.notes.present? %>
                                                <% i.notes.last(2).each do |n| %>
                                                  <%= n.description %><br />
                                                <% end %>
                                              <% end %></span></p>
                                          <i class="top-arrow"></i>
                                    </strong>
                                  </em>
                                </div>
                                <img alt="" title="" src="/assets/spacer.png" />
                              </div>
                              <div class="column w9"><div class="icon-agent"></div></div>
                              <div class="column w20"><% if i.location.present? %><%= i.location.name %><% end %></div>
                              <div class="column"><%= i.close_date %> </div>
                              <div class="column last">
                                <span class="btn-action">
                                  <em class="tooltip-container"><span>Action</span>
                                    <strong class="tooltip">
                                      <ul class="list-tooltip">
                                        <li class="icon-zoomin"><%= link_to "View", transaction_path(i)  %> </li>
                                        <li class="icon-edit"><%= link_to "Edit", edit_transaction_path(i) %></li>
                                      </ul>
                                      <i class="top-arrow"></i>
                                    </strong>
                                  </em>
                                </span>
                              </div>
                            </div>
                          <% end %>
                        </div>


                      </div>
                    </div>

                  </div>

                </div>
                <div class="clearFix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearFix"></div>
  </div>
  <div class="clearFix"></div>
</div>

</div>
<%#*<script type="text/javascript" language="javascript" src="js/jquery_002.js"></script>%>
<script type="text/javascript" language="javascript">
                                jQuery(document).ready(function() {
                                  jQuery('#leftColumnShow').click(function() {
                                    jQuery('#leftColumn').slideToggle('slow', function() {
                                    })
                                  });
                                  jQuery('#closeBox').click(function() {
                                    jQuery('#leftColumn').slideToggle('slow', function() {
                                    })
                                  });
                                });
</script>
</body>
</html>