<div class="contentbox">
  <h1>Transactions <span>(Showing all 17 transactions)</span></h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <h3>Email docs to your Working Docs page: <strong>2946-32647-x@docs.paperlesspipeline.com  Download</strong></h3>
              <div class="unreviewedBox page-transactionsN">
                <div class="unreviewedBoxContent">
                  <input class="btn-quickSearch active" title="Quick Search" value="Quick Search" type="submit" />
                  <input class="btn-advanceSearch" title="Advance search" value="Advance search" type="submit" />
                  <%= link_to "Quick search", advance_search_transactions_path, :class => "btn-advanceSearch", :title => "Advance search", :value => "Advance search", :type => "submit" %>
                  <%= link_to "Filter", filter_transactions_path, :class => "btn-filter", :title => "Filter", :value => "Filter", :type => "submit" %>
                  <% if @transactions.present? %>
                    <p>
                      <%= form_tag search_transactions_path, :method => :get, :remote => true do %>
                      <p>
                        <%= text_field_tag :search,'', :class => "input-searchTransactions"  %>
                      </p>
                      <p>
                        <%= submit_tag "Search", :class => "btn-searchTransactions"%>
                      </p>
                    <% end %>
                    </p>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div id="assign-document">
        <% if (params[:controller] == "transactions" && params[:action] == "assign_document" ) %>
          <%= render :partial => "transactions/assign_doc", :locals => {:document => @document} %>
        <% end %>
      </div>
      <div class="clearFix"></div>
    </div>
  </div>
  <div class="clearFix"></div>
</div>



<%#*<script type="text/javascript" language="javascript" src="/assets/jquery_002.js"></script>%>
<script type="text/javascript" language="javascript">
  jQuery(document).ready(function() {
    jQuery('#leftColumnShow').click(function() {
      jQuery('#leftColumn').slideToggle('slow', function() {
      })
    });
    jQuery('#closeBox').click(function() {
      jQuery('#leftColumn').slideToggle('slow', function() {
      })
    });
  });


</script>
