<div class="contentbox">
  <h1>New Transaction</h1>
  <%= form_for @transaction do |f| %>
    <%= hidden_field_tag "listing_id",params[:listing] %>
    <%= hidden_field_tag "selling_id",params[:selling] %>
    <div class="box">
      <div class="bt">
        <div class="br">
          <div class="bb">
            <div class="bl">
              <div class="con">
                <div class="page-transaction">
                  <div class="commonrowt">
                    <h3>Transaction Information</h3>
                    <p>Location<span class="star">*</span></p>
                    <p>
                      <%= validation_error(@transaction.errors["location_id"]) %>
                      <%= f.select :location_id, options_for_select([["Any Location ->", ""]]+Location.all.collect{|c| [c.name, c.id]}, params[:locations]),{}, :id => "locationI", :title => "Location" %>
                    </p>
                    <div class="bposi">
                      <div id="locationBoxN" class="popup" style="display:none;">
                        <strong>Enter the Location associated with this Transaction.</strong>
                        <p><span>Important:</span> For security reasons,only your company
                          admin can change the location after this transaction
                          has been created</p>
                      </div>
                    </div>
                    <p>Transaction Name or Address<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["transaction_name"]) %></p>
                    <p><%= f.text_field :transaction_name, :title => "Transaction Name or Address", :type => "text"  %></p>
                    <div class="bposi">
                      <div id="transactionName" class="popup" style="display:none;">
                        <strong>Enter a descriptive name for this transaction </strong>
                      </div>
                    </div>
                    <p>MLS or Transaction Number<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["transaction_number"]) %></p>
                    <p><%= f.text_field :transaction_number, :id => "transactionI", :title => "MLS or Transaction Number", :type => "text" %></p>
                    <div class="bposi">
                      <div id="transactionBoxN" class="popup" style="display:none;">
                        <strong>Enter the MLS or Transaction number </strong>
                        <p>For example: 12345</p>
                      </div>
                    </div>
                    <p>Status<span class="star">*</span></p>
                    <p>
                      <%= f.text_field :status, :title => "Status" %>
                      <%= validation_error(@transaction.errors["status"]) %>
                    </p>
                    <div class="bposi">
                      <div id="transactionStatus" class="popup" style="display:none;">
                        <strong>Enter the transaction status </strong>
                      </div>
                    </div>
                    <p>Close Date<span class="star">*</span></p>
                    <p>
                      <%= f.text_field :close_date, :value => (@transaction.close_date ? @transaction.close_date.strftime("%m/%d/%Y") : "") %>
                      <%= validation_error(@transaction.errors["close_date"]) %>
                    </p>
                    <div class="bposi">
                      <div id="transactionClose" class="popup" style="display:none;">
                        <strong>Enter the expected close date for this transaction in the format m/d/yyyy. </strong>
                      </div>
                    </div>
                  </div>
                  <div class="commonrowt">
                    <h3>Optional Information </h3>
                    <p>More Info<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["more_info"]) %></p>
                    <p><%= f.text_area :more_info, :rows => "5" %></p>
                    <div class="bposi">
                      <div id="transactionMore" class="popup" style="display:none;">
                        <strong>Enter information about this transaction not covered by other fields. For example, escrow #, referral source, etc. </strong>
                      </div>
                    </div>
                    <p>Automatic Expiration Date<span class="star">*</span></p>
                    <p><%= f.text_field :automatic_expire_date, :class => "icon-closedate", :title => "Automatic Expiration Date", :type => "text", :value => (@transaction.automatic_expire_date ? @transaction.automatic_expire_date.strftime("%m/%d/%Y") : ""), :readonly => true %></p>
                    <div class="bposi">
                      <div id="transactionAuto" class="popup" style="display:none;">
                        <strong>Enter an expiration date in the format m/d/yyyy. If this transaction's status remains "Listing" after this date, it will automatically change to "Expired/Withdrawn" </strong>
                      </div>
                    </div>
                    <p>Buyer Name<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["buyer_name"]) %></p>
                    <p><%= f.text_field :buyer_name %></p>
                    <div class="bposi">
                      <div id="transactionBuyer" class="popup" style="display:none;">
                        <strong>Enter the name of the home buyer. </strong>
                      </div>
                    </div>
                    <p>Seller Name<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["seller_name"]) %></p>
                    <p><%= f.text_field :seller_name %></p>
                    <div class="bposi">
                      <div id="transactionSeller" class="popup" style="display:none;">
                        <strong>Enter the name of the home seller </strong>
                      </div>
                    </div>
                    <p>List Price<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["list_price"]) %></p>
                    <p><%= f.text_field :list_price %></p>
                    <div class="bposi">
                      <div id="transactionList" class="popup" style="display:none;">
                        <strong>Enter the current list price of this house </strong>
                      </div>
                    </div>
                    <p>Sale Price<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["sale_price"]) %></p>
                    <p><%= f.text_field :sale_price %></p>
                    <div class="bposi">
                      <div id="transactionSale" class="popup" style="display:none;">
                        <strong>If this home is already under contract, enter the sale price here. </strong>
                      </div>
                    </div>
                    <p>Total Commission<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["total_commission"]) %></p>
                    <p><%= f.text_field :total_commission %></p>
                    <div class="bposi">
                      <div id="transactionTotal" class="popup" style="display:none;">
                        <strong>Enter the estimated commission here to help track revenue. </strong>
                      </div>
                    </div>
                    <p>Commission Summary<span class="star">*</span></p>
                    <p><%= validation_error(@transaction.errors["commission_summary"]) %></p>
                    <p><%= f.text_field :commission_summary %></p>
                    <div class="bposi">
                      <div id="transactionSum" class="popup" style="display:none;">
                        <strong>Elaborate on the commission here, if necessary. </strong>
                      </div>
                    </div>
                  </div>
                  <div class="commonrowt">
                    <h3>Assigned Agents <span>Search by agent name or select by location</span></h3>
                    <p>
                      <input class="icon-search" type="text" title="Search by name" placeholder="Search by name" id="agents_seller" />
                    </p>
                  </div>
                  <div class="transactionBox" id="agent_sellers">
                    <%= render :partial => "transactions/transaction_agents" %>
                  </div>
                  <div class="transactionBox">
                    <h3>Asigned Agents</h3>
                    <div class="tableTransactionN" id="listing_users">
                      <div class="row">
                        <div>Listing</div>
                        <div>Selling</div>
                        <div>Agents</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                <img title="" alt="" src="/assets/icon-checkbox-selected.png" />
                This transaction has outside (co-op) agents
              </p>
              <p>
                <%= f.submit "Save", :class => "btn-addTransaction", :title => "Add Transaction", :type => "submit", :value => "Add Transaction" %>
                <input class="btn-cancel" title="Cancel" type="button" value="Cancel" />
              <ipp:connectToIntuit></ipp:connectToIntuit>
              </p>
            <% end %>
            <div class="clearFix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


