<div class="contentbox">
  <h1>New Transaction</h1>
  <%= form_for @transaction do |f| %>
    <%= hidden_field_tag "listing_id",params[:listing] %>
    <%= hidden_field_tag "selling_id",params[:selling] %>
    <div class="box">
      <div class="bt">
        <div class="br">
          <div class="bb">
            <div class="bl">
              <div class="con">
                <div class="page-transaction">
                  <div class="commonrowt">
                    <h3>Transaction Information</h3>
                    <p>Location</p>
                    <p>
                      <%= validation_error(@transaction.errors["location_id"]) %>
                      <%= f.select :location_id, options_for_select([["Any Location ->", ""]]+Location.all.collect{|c| [c.name, c.id]}, params[:locations]), :id => "locationI", :title => "Location" %>
                    </p><br /><br /><br />
                    <div class="bposi">
                      <div id="locationBoxN" class="popup" style="display:none;">
                        <strong>Enter the Location associated with this Transaction.</strong>
                        <p><span>Important:</span> For security reasons,only your company
                          admin can change the location after this transaction
                          has been created</p>
                      </div>
                    </div>
                    <p>Transaction Name or Address</p>
                    <p><%= validation_error(@transaction.errors["transaction_name"]) %></p>
                    <p><%= f.text_field :transaction_name, :title => "Transaction Name or Address", :type => "text"  %></p>

                    <p>MLS or Transaction Number</p>
                    <p><%= validation_error(@transaction.errors["transaction_number"]) %></p>
                    <p><%= f.text_field :transaction_number, :id => "transactionI", :title => "MLS or Transaction Number", :type => "text" %></p>
                    <div class="bposi">
                      <div id="transactionBoxN" class="popup" style="display:none;">
                        <strong>Enter the MLS or Transaction number </strong>
                        <p>For example: 12345</p>
                      </div>
                    </div>
                    <p>Status</p>
                    <p>
                      <%= f.text_field :status, :title => "Status" %>
                      <%= validation_error(@transaction.errors["status"]) %>
                    </p>
                    <p>Close Date</p>
                    <p>
                      <%= f.text_field :close_date, :value => (@transaction.close_date ? @transaction.close_date.strftime("%m/%d/%Y") : "") %>
                      <%= validation_error(@transaction.errors["close_date"]) %>
  <%#*<script>%>
  <%#*$("#transaction_close_date").datetimepicker({%>
  <%#*showOn: 'button',%>
  <%#*buttonImage: '/assets/icon-calendar.png',%>
  <%#*buttonImageOnly: true,%>
  <%#*showTimepicker: true,%>
  <%#*dateFormat: 'yy-mm-dd',%>
  <%#*minDate: 0%>
  <%#*})%>
  <%#*</script>%>

                    </p>
                  </div>
                  <div class="commonrowt">
                    <h3>Optional Information <span>Click to show/hide</span></h3>
                    <p>More Info</p>
                    <p><%= validation_error(@transaction.errors["more_info"]) %></p>
                    <p><%= f.text_area :more_info, :rows => "5" %></p>
                    <p>Automatic Expiration Date</p>
                    <p><%= f.text_field :automatic_expire_date, :class => "icon-closedate", :title => "Automatic Expiration Date", :type => "text" %></p>
                    <p>Buyer Name</p>
                    <p><%= validation_error(@transaction.errors["buyer_name"]) %></p>
                    <p><%= f.text_field :buyer_name %></p>
                    <p>Seller Name</p>
                    <p><%= validation_error(@transaction.errors["seller_name"]) %></p>
                    <p><%= f.text_field :seller_name %></p>
                    <p>List Price</p>
                    <p><%= validation_error(@transaction.errors["list_price"]) %></p>
                    <p><%= f.text_field :list_price %></p>
                    <p>Currency</p>
                    <p><input title="Currency" type="text" /></p>
                    <p>Sale Price</p>
                    <p><%= validation_error(@transaction.errors["sale_price"]) %></p>
                    <p><%= f.text_field :sale_price %></p>
                    <p>Currency</p>
                    <p><input title="Currency" type="text" /></p>
                    <p>Total Commission</p>
                    <p><%= validation_error(@transaction.errors["total_commission"]) %></p>
                    <p><%= f.text_field :total_commission %></p>
                    <p>Currency</p>
                    <p><input title="Currency" type="text" /></p>
                    <p>Commission Summary</p>
                    <p><%= validation_error(@transaction.errors["commission_summary"]) %></p>
                    <p><%= f.text_field :commission_summary %></p>
                  </div>
                  <div class="commonrowt">
                    <h3>Assigned Agents <span>Search by agent name or select by location</span></h3>
                    <p><input class="icon-search" type="text" title="Search by name" placeholder="Search by name" /></p>
                  </div>
                  <div class="transactionBox">
                    <h3>Elite Real Estate</h3>
                    <div class="tableTransactionN">
                      <div class="row">
                        <div>Listing</div>
                        <div>Selling</div>
                        <div>Agents</div>
                      </div>
                      <% @assigning_users.each do |user| %>
                        <div class="row" id="assigning-agents_<%= user.id %>">
                          <div><%= check_box_tag :li_id,'1',false,:onclick => "select_listing('#{user.id}','#{user.first_name}')",:id => "li_#{user.id}" %></div>
                          <div><%= check_box_tag :se_id,'1',false,:onclick => "select_selling('#{user.id}','#{user.first_name}')",:id => "se_#{user.id}" %></div>
                          <div><%= user.first_name %></div>
                        </div>
                      <% end %>

                    </div>
                  </div>
                  <div class="transactionBox">
                    <h3>Asigned Agents</h3>
                    <div class="tableTransactionN" id="listing_users">
                      <div class="row">
                        <div>Listing</div>
                        <div>Selling</div>
                        <div>Agents</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                <img title="" alt="" src="/assets/icon-checkbox-selected.png" />
                This transaction has outside (co-op) agents
              </p>
              <p>
                <%= f.submit "Save", :class => "btn-addTransaction", :title => "Add Transaction", :type => "submit", :value => "Add Transaction" %>
                <input class="btn-cancel" title="Cancel" type="button" value="Cancel" />
              <ipp:connectToIntuit></ipp:connectToIntuit>
              </p>
            <% end %>
            <div class="clearFix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery('#leftColumnShow').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
    jQuery('#closeBox').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
    jQuery('#locationI').hover(function () {
      jQuery('#locationBoxN').slideToggle('slow', function () {})
    });
    jQuery('#transactionI').hover(function () {
      jQuery('#transactionBoxN').slideToggle('slow', function () {})
    });

  });


</script>


