<div class="contentbox">
  <h1><em><span><%= "#{@per_completed_tasks}%" %> </span></em><%= @transaction.user.first_name %>, <%= @transaction.user.last_name  %>, <%= @transaction.transaction_number %><span>(Last updated <%= @transaction.created_at.to_date %> by <%= @transaction.user.first_name %>)</span></h1>
  <div class="box">
    <div class="bt">
      <div class="br">
        <div class="bb">
          <div class="bl">
            <div class="con">
              <h3>Email docs and notes to this transaction: <a title="2946-32647-TX-354630@docs.paperlesspipeline.com Download vCard" href="#">2946-32647-TX-354630@docs.paperlesspipeline.com Download vCard</a></h3>
              <div class="transactionDetailBox">
                <div class="frow">
                  <div>MLS #:</div>
                  <div><%= @transaction.transaction_number %></div>
                </div>
                <div class="frow">
                  <div>Status:</div>
                  <div><%= @transaction.status %></div>
                </div>
                <div class="frow">
                  <div>List Price:</div>
                  <div>$<%= @transaction.list_price %></div>
                </div>
                <div class="frow">
                  <div>Seller:</div>
                  <div><%= @transaction.seller_name %></div>
                </div>
                <div class="frow">
                  <div>Location:</div>
                  <div><% if @transaction.location.present? %><%= @transaction.location.name %><% end %></div>
                </div>
                <div class="frow">
                  <div>Added On:</div>
                  <div><%= @transaction.created_at.to_date %></div>
                </div>
                <div class="frow">
                  <div>Added By:</div>
                  <div><%= @transaction.user.first_name %></div>
                </div>
              </div>
              <div class="contentbox">
                <h1><em><a id="addContact" class="btn-addContact" title="Add Contact" href="javascript:;">Add Contact</a></em>Contact</h1>
                <div class="box" id="addContactContent" style="display:none;">
                  <div class="tableTransaction transactionDetail">
                    <div class="con">
                      <div id="error_explanation" style="color:red;">

                      </div>
                      <%= form_for Contact.new, :url => create_contact_transaction_path(@transaction.id), :method => "POST", :remote => true do |f| %>
                        <ul class="list-contact">
                          <li>
                            <p>Name</p>
                            <%= f.text_field :name %>
                          </li>
                          <li>
                            <p>Role</p>
                            <%= f.text_field :role %>
                          </li>
                          <li>
                            <p>Phone <span class="colorGray">(Optional)</span></p>
                            <%= f.text_field :phone %>
                          </li>
                          <li>
                            <p>Fax <span class="colorGray">(Optional)</span></p>
                            <%= f.text_field :fax %>
                          </li>
                          <li>
                            <p>Email <span class="colorGray">(Optional)</span></p>
                            <%= f.text_field :email %>
                          </li>
                          <li>
                            <%= f.submit "Submit", :class => "btn-submit" %>
                          </li>
                        </ul>
                      <% end %>
                      <div id="contacts">
                        <%= render :partial => "contacts", :locals => {:contacts => @contacts} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contentbox">
                <div class="tableTransaction">
                  <h1>
                    <div class="column">Info</div>
                    <div class="column w30">Listing Docs</div>
                    <div class="column w12">Comments</div>
                    <div class="column w13">Added On</div>
                    <div class="column w13">Reviewed</div>
                    <div class="column w13">Entered</div>
                    <div class="column last">Actions</div>
                  </h1>
                  <div class="box">
                    <% @transaction_documents.each do |document| %>
                      <div class="tableTransaction">
                        <div class="transactionrow">
                          <div class="column"><div class="icon-pdf"></div></div>
                          <div class="column w30"><%= document.document_file_name %></div>

                          <div class="column w12"><div id="comment" class="icon-comment" onclick ="show_commentbox('<%= document.id %>')"></div></div>
                          <div class="column w13"><%= document.created_at.to_date %></div>
                          <div class="column w13"><input title="Reviewed" type="checkbox" /></div>
                          <div class="column w13"><input title="Reviewed" type="checkbox" /></div>
                          <div class="column last">
                            <span class="btn-action transaction">
                              <em class="tooltip-container"><span>Action</span>
                                <strong class="tooltip">
                                  <ul class="list-tooltip">
                                    <li class="icon-zoomin"><a title="View Trasaction" href="#">View Trasaction</a></li>
                                    <li class="icon-edit"><a title="Edit Trasaction" href="#">Edit Trasaction</a></li>
                                  </ul>
                                  <i class="top-arrow"></i>
                                </strong>
                              </em>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="commentBox" id="commentBox_<%= document.id %>" style="display:none">
                        <%= form_for :comment, :url => add_comment_transactions_path, :method => 'POST', :remote => true do |f| %>
                          <%= f.text_field :comment, :title => "Comments", :type =>"text" %>
                          <%= f.hidden_field :document_id, :value => document.id %>
                          <%= f.hidden_field :user_id, :value => current_user.id %>
                          <%= f.submit "Save", :class => "btn-save",  :title => "Save", :type => "submit", :value => "Save" %>
                          <span id="cancel_<%= document.id %>" style="cursor: pointer;color: blue;">Cancel</span>
                        <% end %>
                        <div id="document_comments_<%= document.id %>">
                          <%= render :partial => "transactions/comment",:locals => {:doc => document} %>
                        </div>
                        <script>
                          $("#cancel_<%= document.id %>").click(function(){
                            $("#commentBox_<%= document.id%>").fadeOut('slow');
                          })
                        </script>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="contentbox" id="addNoteContent" style="display:none;">
                <%= form_for @note, :url => add_note_transactions_path, :method => 'POST', :remote => true do |f| %>
                  <h1>Add Note</h1>
                  <div class="box">
                    <div class="tableTransaction transactionDetail">
                      <div class="con">
                        <h3>New note for 120 Tyler Ave, Cape Canaveral, 32920</h3>
                        <p><%= f.text_area :description, :placeholder => "Type your note here. When you're finished, select the agents or staff who should receive your note by email." %></p>
                        <%= f.hidden_field :transaction_id, :value => @transaction.id %>
                        <h3>Email this note to the agents or staff selected below:</h3>
                        <ul class="list-emailnote">
                          <li><span><input title="Listing agents" type="checkbox" />Listing agents</span></li>
                          <% if @listing_agents.present? %>
                            <% @listing_agents.each do |user| %>
                              <%#= f.check_box :descript/ion %><%= user.first_name %>
                            <% end %>
                          <% end %>
                        </ul>
                        <ul class="list-emailnote">
                          <li><span><input title="Staff" type="checkbox" />Staff</span></li>
                          <% if @staff_agents.present? %>
                            <% @staff_agents.each do |s| %>
                              <% if s.first_name.present? %>
                                <%#= f.check_box :description %><%= s.first_name %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </ul>
                        <input id="addNoteClose" class="btn-sendNote" type="submit" title="Send Note" value="Send Note" /><p><input type="checkbox" title="Append incomplete tasks to note" />Append incomplete tasks to note <input class="mleft" type="checkbox" title="Append completed tasks to note" />Append completed tasks to note</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contentbox">
                  <h1><em><a id="addNote" class="btn-addNote" title="Add Note" href="javascript:;">Add Note</a></em>Note History</h1>
                  <div class="box">
                    <div class="tableTransaction transactionDetail">
                      <div class="con">
                        <ul class="list-comment">
                          <li>
                            <h5>heading</h5>
                            <p><abbr>Jun 5, 13</abbr></p>
                            <p>We are missing your initials on the bottom of all page of the listing agreement and the fully executed lead base paint addendum, could you please upload the documents to the paperless pipeline for our records and FREC. Thank You DL</p>
                            <em>Sally Ballew</em>
                          </li>
                          <li>
                            <h5>heading</h5>
                            <p><abbr>Jun 5, 13</abbr></p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting of industry. Lorem Ipsum has been the industry's <br/> standard dummytext ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting<br/> industry. in the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.typesetting industry. </p>
                            <em>Lorem Ipsum</em>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="clearFix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" language="javascript">
  jQuery(document).ready(function () {
    jQuery('#comment').click(function () {
      jQuery('#commentBox').slideToggle('slow', function () {})
    });
    jQuery('#leftColumnShow').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
    jQuery('#closeBox').click(function () {
      jQuery('#leftColumn').slideToggle('slow', function () {})
    });
  });

  function show_commentbox(doc_id) {
    jQuery('#commentBox_' + doc_id).slideToggle('slow', function() {
    })
  }

</script>