<div id="menu-links" style="float:left;position:absolute;margin-top:10px;margin-left:145px;">
  <%= link_to "Manage Locations", manage_locations_user_path(current_user.id) %><br /><br />
  <%= link_to "Manage Users", manage_users_user_path(current_user.id) %><br /><br />
  <%= link_to "Checklist Templates" %><br /><br />
  <%= link_to "Transaction Statuses" %><br /><br />
  <%= link_to "Doc statuses" %><br /><br />
  <%= link_to "Upgrade/Downgrade" %><br /><br />
  <%= link_to "Update Billing" %><br /><br />
  <%= link_to "Help" %><br />
</div>

<script>
 $(document).ready(function(){
  var newFontSize = 15
     $("#menu-links").css("font-size", newFontSize);
   });
</script>
