<div style="margin-left:145px;">
  <%= link_to "New Transaction", new_transaction_path %><br /><br />
  <%= link_to "Upload Docs", new_document_path %><br /><br />
  <%= link_to "Profile", edit_user_registration_path(current_user) %><br /><br />
  <%= link_to "admin", admin_user_path(current_user) %><br /><br />
  <%= link_to "Upgrade/Downgrade" %><br /><br />
  <%= link_to "Monthly Backup" %><br /><br />
  <%= link_to "Help" %><br />
  <%= current_user.photo_file_name %>
</div>
<div style="margin-left:145px;">
     <h3><b> Admin & Tech Support </b></h3><br />
       <%= current_user.email %>
</div>

<div style="margin-left:145px;">
     <h3><b> Your Info  </b></h3><br />
       <%= current_user.email %>
</div>

<div style="margin-left:145px;">
     <h3><b> Statistics  </b></h3><br />
       Transactions<br />
       Documents<br />
       Working Docs<br />
       Office Docs<br />
       Users<br />
       Locations<br />
       <br />
</div>
