<div id="leftColumnShow">Menu</div>
<div id="leftColumn">
  <div id="closeBox">Close</div>
  <% if (params[:controller] == "transactions" && params[:action] == "index" || params[:action] == 'assign_document' || params[:action] == 'assign_document_to_transaction' || params[:action] == "advance_search" || params[:action] == "filter" || params[:action] == "edit") %>
    <ul class="leftmenu">
      <li class="icon-new-transactions"><%= link_to "New Transaction", new_transaction_path %></li>
      <li class="icon-upload-documents"><%= link_to "Upload Docs", new_document_path(:type => "transaction") %></li>
      <li class="icon-profile"><%= link_to "Profile", edit_user_registration_path(current_user) %></li>
      <li class="icon-admin"><%= link_to "admin", admin_user_path(current_user) %></li>
      <li class="icon-monthly-backup"><a title="Monthly Backup" href="#">Monthly Backup</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <% @transactions = Transaction.where("user_id = '#{current_user.id}'") %>
                  <% @transactions.each do |transaction| %>
                    <% if transaction.documents.present? %>
                      <ul class="list-admin">
                        <li><%= link_to "#{transaction.documents.last.document_file_name[0..15]}", transaction_path(transaction) %> <br />MLS #: <%= transaction.transaction_number  %></li>
                      </ul>
                    <% end %>
                  <% end %>
                  <%= link_to "<span>View all</span>".html_safe, transactions_path, :class=>"link-viewall" %>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <% elsif (params[:controller] == "tasks")  || (params[:controller] == "transactions" && (params[:action] == "new" || params[:action] == "create"))  %>
    <ul class="leftmenu">
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <% @transactions = Transaction.where("user_id = '#{current_user.id}'") %>
                  <% @transactions.each do |transaction| %>
                    <% if transaction.documents.present? %>
                      <ul class="list-admin">
                        <li><%= link_to "#{transaction.documents.last.document_file_name[0..15]}", transaction_path(transaction) %> <br />MLS #: <%= transaction.transaction_number  %></li>
                      </ul>
                    <% end %>
                  <% end %>
                  <%= link_to "<span>View all</span>".html_safe, transactions_path, :class=>"link-viewall" %>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif (params[:controller] == "documents" && params[:action] == "working") || (params[:type] == "transaction" )  %>
    <ul class="leftmenu">
      <li class="icon-upload-documents <%= (params[:controller] == "documents" && params[:action] == 'new') ? 'active' : '' %>"><%= link_to "Upload Documents", new_document_path(:type => "transaction") %></li>
      <li class="icon-upload-docs-by-email"><a title="Upload Docs by Email" href="#">Upload Docs by Email</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <% @transactions = Transaction.where("user_id = '#{current_user.id}'") %>
                  <% @transactions.each do |transaction| %>
                    <% if transaction.documents.present? %>
                      <ul class="list-admin">
                        <li><%= link_to "#{transaction.documents.last.document_file_name[0..15]}", transaction_path(transaction) %> <br />MLS #: <%= transaction.transaction_number  %></li>
                      </ul>
                    <% end %>
                  <% end %>
                  <%= link_to "<span>View all</span>".html_safe, transactions_path, :class=>"link-viewall" %>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif (params[:controller] == "documents" && params[:action] == "unreviewed")  %>
    <ul class="leftmenu">
      <li class="icon-unreviewed-docs"><a title="Unreviewed Docs" href="#">Unreviewed Docs</a></li>
      <li class="icon-unentered-docs active"><a title="Unentered Docs" href="#">Unentered Docs</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <% @transactions = Transaction.where("user_id = '#{current_user.id}'") %>
                  <% @transactions.each do |transaction| %>
                    <% if transaction.documents.present? %>
                      <ul class="list-admin">
                        <li><%= link_to "#{transaction.documents.last.document_file_name[0..15]}", transaction_path(transaction) %> <br />MLS #: <%= transaction.transaction_number  %></li>
                      </ul>
                    <% end %>
                  <% end %>
                  <%= link_to "<span>View all</span>".html_safe, transactions_path, :class=>"link-viewall" %>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif (params[:controller] == "documents" && params[:action] == "office")  %>
    <ul class="leftmenu">
      <li class="icon-upload-documents"><%= link_to "Upload Documents", new_document_path(:type => "office") %></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <% @transactions = Transaction.where("user_id = '#{current_user.id}'") %>
                  <% @transactions.each do |transaction| %>
                    <% if transaction.documents.present? %>
                      <ul class="list-admin">
                        <li><%= link_to "#{transaction.documents.last.document_file_name[0..15]}", transaction_path(transaction) %> <br />MLS #: <%= transaction.transaction_number  %></li>
                      </ul>
                    <% end %>
                  <% end %>
                  <%= link_to "<span>View all</span>".html_safe, transactions_path, :class=>"link-viewall" %>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif params[:controller] == "transactions" && (params[:action] == "show") %>
    <ul class="leftmenu">
      <li class="icon-new-transactions"><%= link_to "New Transaction", new_transaction_path %></li>
      <li class="icon-upload-documents"><%= link_to "Upload Docs", new_document_path(:type => "transaction") %></li>
      <li class="icon-profile"><%= link_to "Profile", edit_user_registration_path(current_user) %></li>
      <li class="icon-admin"><%= link_to "admin", admin_user_path(current_user) %></li>
      <li class="icon-monthly-backup"><a title="Monthly Backup" href="#">Monthly Backup</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <% @transaction = Transaction.find(params[:id]) %>
      <% @checklists = @transaction.checklists %>
      <% @total_tran_tasks = @transaction.tasks %>
      <% @completed_tasks = @transaction.tasks.where("status = ?", true) %>
      <h1 id="chk_con">Checklists<%= @completed_tasks.count() %>/<%= @total_tran_tasks.count() %></h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <a id="newList" href="javascript:;" title="+ New List" class="link-viewall">+ New List</a>
                  <div class="commonrow" id="newListContent" style="display:none;">
                    <%= select_tag :create_list, options_for_select([["Add New List", ""],["New Contract Checklist", "New Contract Checklist"], ["New Listing Checklist", "New Listing Checklist"]]) , :title => "Add a checklist", :class => "select-checklist", :onchange => "CreateList(this, #{params[:id]})" %>
                  </div>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="check">
      <%= render :partial => "checklists/checklists", :locals => {:checklists => @checklists} %>
    </div>
  
  <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <% @transactions = Transaction.where("user_id = '#{current_user.id}'") %>
                  <% @transactions.each do |transaction| %>
                    <% if transaction.documents.present? %>
                      <ul class="list-admin">
                        <li><%= link_to "#{transaction.documents.last.document_file_name[0..15]}", transaction_path(transaction) %> <br />MLS #: <%= transaction.transaction_number  %></li>
                      </ul>
                    <% end %>
                  <% end %>
                  <%= link_to "<span>View all</span>".html_safe, transactions_path, :class=>"link-viewall" %>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>     
  
  <% elsif params[:controller] == "dashboard" || params[:controller] == "documents" || (params[:controller] == "users" && (params[:action] == "admin" || params[:action] == "manage_users" || params[:action] == "manage_locations" )) || params[:controller] == "checklists" %>
    <ul class="leftmenu">
      <li class="icon-new-transactions"><%= link_to "New Transaction", new_transaction_path %></li>
      <li class="icon-upload-documents"><%= link_to "Upload Docs", new_document_path(:type => "transaction") %></li>
      <li class="icon-profile"><%= link_to "Profile", edit_user_registration_path(current_user) %></li>
      <li class="icon-admin"><%= link_to "admin", manage_locations_user_path(current_user.id) %></li>
      <li class="icon-monthly-backup"><a title="Monthly Backup" href="#">Monthly Backup</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Admin &amp; Tech Support</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-admin">
                    <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                  </ul>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contentbox">
      <h1><em><%= link_to "Change", edit_user_registration_path(current_user) %></em>Your Info</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-admin">
                    <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                    <li><a title="<%= current_user.role %>" href="#"><%= current_user.role %></a></li>
                  </ul>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contentbox">
      <h1>Your Permissions</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-admin">
                    <li><a title="Elite Real estate" href="#">Elite Real estate</a></li>
                  </ul>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
