<div id="leftColumnShow">Menu</div>
<div id="leftColumn">
  <div id="closeBox">Close</div>

  <% if (params[:controller] == "transactions" && params[:action] == "index")  %>
    <ul class="leftmenu">
      <li class="active icon-new-transactions"><%= link_to "New Transaction", new_transaction_path %></li>
      <li class="icon-upload-documents"><%= link_to "Upload Docs", new_document_path %></li>
      <li class="icon-profile"><%= link_to "Profile", edit_user_registration_path(current_user) %></li>
      <li class="icon-admin"><%= link_to "admin", admin_user_path(current_user) %></li>
      <li class="icon-monthly-backup"><a title="Monthly Backup" href="#">Monthly Backup</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-admin">
                    <li><a title="3740 Ocean Beach Blvd #204 MLS #: 643682" href="#">3740 Ocean Beach Blvd #204 <br />MLS #: 643682</a></li>
                    <li><a title="17 Greenwood MLS #: 657388" href="#">17 Greenwood <br />MLS #: 657388</a></li>
                    <li><a title="1441 Paragon Rd, Plam Bay MLS #: 333162" href="#">1441 Paragon Rd, Plam Bay <br />MLS #: 333162</a></li>
                  </ul>
                  <a class="link-viewall" title="View All" href="#">View All</a>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif (params[:controller] == "tasks")  || (params[:controller] == "transactions" && (params[:action] == "new" || params[:action] == "create"))  %>
    <ul class="leftmenu">
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-admin">
                    <li><a title="3740 Ocean Beach Blvd #204 MLS #: 643682" href="#">3740 Ocean Beach Blvd #204 <br />MLS #: 643682</a></li>
                    <li><a title="17 Greenwood MLS #: 657388" href="#">17 Greenwood <br />MLS #: 657388</a></li>
                    <li><a title="1441 Paragon Rd, Plam Bay MLS #: 333162" href="#">1441 Paragon Rd, Plam Bay <br />MLS #: 333162</a></li>
                  </ul>
                  <a class="link-viewall" title="View All" href="#">View All</a>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif (params[:controller] == "documents" && params[:action] == "working")  %>
    <ul class="leftmenu">
      <li class="icon-upload-documents"><%= link_to "Upload Documents", new_document_path %></li>
      <li class="icon-upload-docs-by-email active"><a title="Upload Docs by Email" href="#">Upload Docs by Email</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-admin">
                    <li><a title="3740 Ocean Beach Blvd #204 MLS #: 643682" href="#">3740 Ocean Beach Blvd #204 <br />MLS #: 643682</a></li>
                    <li><a title="17 Greenwood MLS #: 657388" href="#">17 Greenwood <br />MLS #: 657388</a></li>
                    <li><a title="1441 Paragon Rd, Plam Bay MLS #: 333162" href="#">1441 Paragon Rd, Plam Bay <br />MLS #: 333162</a></li>
                  </ul>
                  <a class="link-viewall" title="View All" href="#">View All</a>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif (params[:controller] == "documents" && params[:action] == "unreviewed")  %>
    <ul class="leftmenu">
      <li class="icon-unreviewed-docs"><a title="Unreviewed Docs" href="#">Unreviewed Docs</a></li>
      <li class="icon-unentered-docs active"><a title="Unentered Docs" href="#">Unentered Docs</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-admin">
                    <li><a title="3740 Ocean Beach Blvd #204 MLS #: 643682" href="#">3740 Ocean Beach Blvd #204 <br />MLS #: 643682</a></li>
                    <li><a title="17 Greenwood MLS #: 657388" href="#">17 Greenwood <br />MLS #: 657388</a></li>
                    <li><a title="1441 Paragon Rd, Plam Bay MLS #: 333162" href="#">1441 Paragon Rd, Plam Bay <br />MLS #: 333162</a></li>
                  </ul>
                  <a class="link-viewall" title="View All" href="#">View All</a>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif (params[:controller] == "documents" && params[:action] == "office")  %>
    <ul class="leftmenu">
      <li class="icon-upload-documents"><%= link_to "Upload Documents", new_document_path %></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Recently Updated</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-admin">
                    <li><a title="3740 Ocean Beach Blvd #204 MLS #: 643682" href="#">3740 Ocean Beach Blvd #204 <br />MLS #: 643682</a></li>
                    <li><a title="17 Greenwood MLS #: 657388" href="#">17 Greenwood <br />MLS #: 657388</a></li>
                    <li><a title="1441 Paragon Rd, Plam Bay MLS #: 333162" href="#">1441 Paragon Rd, Plam Bay <br />MLS #: 333162</a></li>
                  </ul>
                  <a class="link-viewall" title="View All" href="#">View All</a>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif params[:controller] == "transactions" && (params[:action] == "show") %>
    <ul class="leftmenu">
      <li class="active icon-new-transactions"><%= link_to "New Transaction", new_transaction_path %></li>
      <li class="icon-upload-documents"><%= link_to "Upload Docs", new_document_path %></li>
      <li class="icon-profile"><%= link_to "Profile", edit_user_registration_path(current_user) %></li>
      <li class="icon-admin"><%= link_to "admin", admin_user_path(current_user) %></li>
      <li class="icon-monthly-backup"><a title="Monthly Backup" href="#">Monthly Backup</a></li>
      <li class="icon-help"><a title="Help" href="#">Help</a></li>
    </ul>
    <div class="contentbox">
      <h1>Checklists5/6</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <select title="Add a checklist" class="select-checklist">
                    <option>New Contract Checklist</option>
                    <option>New Listing Checklist</option>
                  </select>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contentbox">
      <h1>New Listing Checklist</h1>
      <div class="box">
        <div class="bt">
          <div class="br">
            <div class="bb">
              <div class="bl">
                <div class="con">
                  <ul class="list-checklist">
                    <li><input type="checkbox" title="Lead Base Paint Law:   Licensee Notice to Seller/Landlord (Pre 1978)" />Lead Base Paint Law:   Licensee Notice to Seller/Landlord (Pre 1978)</li>
                    <li><input type="checkbox" title="Listing Worksheet" />Listing Worksheet</li>
                    <li><input type="checkbox" title="Exclusive Right of Sale" />Exclusive Right of Sale</li>
                    <li><input type="checkbox" title="Seller's Cost Disclosure" />Seller's Cost Disclosure</li>
                    <li><input type="checkbox" title="MLS" />MLS</li>
                    <li><input type="checkbox" title="Tax Record" />Tax Record</li>
                  </ul>
                  <div class="clearFix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% elsif params[:controller] == "dashboard" || params[:controller] == "documents" || (params[:controller] == "users" && (params[:action] == "admin" || params[:action] == "manage_users" || params[:action] == "manage_locations" )) || params[:controller] == "checklists" %>
  <ul class="leftmenu">
    <li class="active icon-new-transactions"><%= link_to "New Transaction", new_transaction_path %></li>
    <li class="icon-upload-documents"><%= link_to "Upload Docs", new_document_path %></li>
    <li class="icon-profile"><%= link_to "Profile", edit_user_registration_path(current_user) %></li>
    <li class="icon-admin"><%= link_to "admin", admin_user_path(current_user) %></li>
    <li class="icon-monthly-backup"><a title="Monthly Backup" href="#">Monthly Backup</a></li>
    <li class="icon-help"><a title="Help" href="#">Help</a></li>
  </ul>
  <div class="contentbox">
    <h1>Admin &amp; Tech Support</h1>
    <div class="box">
      <div class="bt">
        <div class="br">
          <div class="bb">
            <div class="bl">
              <div class="con">
                <ul class="list-admin">
                  <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                  <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                </ul>
                <div class="clearFix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentbox">
    <h1><em><a title="Change" href="#">(Change)</a></em>Your Info</h1>
    <div class="box">
      <div class="bt">
        <div class="br">
          <div class="bb">
            <div class="bl">
              <div class="con">
                <ul class="list-admin">
                  <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                  <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                  <li><a title="<%= current_user.role %>" href="#"><%= current_user.role %></a></li>
                </ul>
                <div class="clearFix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentbox">
    <h1>Monthly Stats</h1>
    <div class="box">
      <div class="bt">
        <div class="br">
          <div class="bb">
            <div class="bl">
              <div class="con">
                <ul class="list-admin">
                  <li><span class="fright"><%= current_user.transactions.count %></span><a title="Transaction Created" href="#">Transaction Created</a></li>
                  <li><span class="fright">5</span><a title="Transaction Quota" href="#">Transaction Quota</a></li>
                </ul>
                <p class="f11">Your monthly limit will reset back to 5 new transactions on March 28, 2013</p>
                <div class="clearFix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentbox">
    <h1>Your Permissions</h1>
    <div class="box">
      <div class="bt">
        <div class="br">
          <div class="bb">
            <div class="bl">
              <div class="con">
                <ul class="list-admin">
                  <li><a title="Elite Real estate" href="#">Elite Real estate</a></li>
                </ul>
                <div class="clearFix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
