<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Cloud 9</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application","jquery.notifyBar" %>
    <%= csrf_meta_tags %>
    <%['notice', 'error', 'warning', 'alert'].each do |f|%>
      <%if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function() {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 1000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <% end %>
  </head>

  <body>
    <div id="maindiv">
      <div id="header">
        <div class="cr">
          <div class="topleftbox">
            <a title="Cloud 9 Transaction Management" href="#"><img id="logo" title="Cloud 9 Transaction Management" alt="Cloud 9 Transaction Management" src="/assets/logo.png" /></a>
<%#*<input class="input-search" type="text" title="Search Transaction by Address, Agents or MLS" placeholder="Search Transaction by Address, Agents or MLS" /><input class="btn-search" type="submit" title="Search" value="Search" />%>
          </div>
          <div class="toprighbox">
            <ul id="topmenu">
              <li><span>|</span><%= current_user ? (link_to "Admin", admin_user_path(current_user)) : "" %></li>
              <li><span>|</span><%= current_user ? (link_to "Profile", profile_user_path(current_user)) : "" %></li>
              <li class="icon-logout"><span>|</span><%= current_user ? (link_to "Logout", destroy_user_session_path,:method => 'DELETE') : (link_to "Login", new_user_session_path) %> </li>
            </ul>
            <p><% if current_user %><a title="Nate B is signed in (Not you?)" href="#"><%= current_user.first_name %> is signed in (Not you?)</a></p> <% end %>
            <div class="newTransaction"><%= current_user ? (link_to "New Transaction", new_transaction_path) : "" %></div>
          </div>
          <div class="clearFix"></div>
        </div>
        <div id="navigation">
          <ul>
            <% if current_user %>
              <li class=<%= (params[:controller] == "dashboard" ? "active" : "") %>><%= link_to "<span>Dashboard</span>".html_safe, dashboard_index_path %></li>
              <li class=<%= (params[:controller] == "transactions" ? "active" : "") %>><%= link_to "<span>Transaction</span>".html_safe, transactions_path %></li>
              <li class=<%= (params[:controller] == "tasks" ? "active" : "") %>><%= link_to "<span>Tasks</span>".html_safe, tasks_path %></li>
              <li class=<%= (params[:controller] == "documents" && params[:action] == "working" ? "active" : "") %>><%= link_to "<span>Working</span>".html_safe, working_documents_path %></li>
              <li class=<%= (params[:controller] == "documents" && params[:action] == "unreviewed" ? "active" : "") %>><%= link_to "<span>Unreviewed</span>".html_safe, unreviewed_documents_path %></li>
              <li class=<%= (params[:controller] == "documents" && params[:action] == "office" ? "active" : "") %>><%= link_to "<span>Office</span>".html_safe, office_documents_path %></li>
            <% else %>
              <li class="active"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            <% end %>
          </ul>
        </div>
        <div class="clearFix"></div>
      </div>
      <div id="content"  style="min-height: 450px;">
        <% if current_user %>
          <%= render :partial => "/layouts/side_panel" %>
        <% end %>
        <div id="rightColumn">
          <%= yield %>
        </div>
        <div class="clearFix"></div>
      </div>
      <div id="footer">
        <div class="footerMenu">
          <ul>
            <li><a title="What's New" href="#">What's New</a></li>
            <li><a title="System Status" href="#">System Status</a></li>
            <li><a title="Live Help" href="#">Live Help</a></li>
            <li><a title="Privacy Policy" href="#">Privacy Policy</a></li>
            <li><a title="Terms of Service" href="#">Terms of Service</a></li>
          </ul>
        </div>
        <p>Having problems? Contact the office admin.</p>
        <div class="clearFix"></div>
      </div>
      <div id='ajax_loader_big_div'>
        <img alt="Ajax-loader-big" src="/assets/ajax-loader-big.gif"  />
      </div>
    </div>
  </body>
</html>
