<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Manage Locations</title>
      <%= stylesheet_link_tag    "application", "default" %>
      <%= javascript_include_tag "vendor/custom.modernizr" %>

      <%= javascript_include_tag "application" %>
      <%= stylesheet_link_tag "timepicker/jquery-ui-timepicker-addon", "jquery-ui-1.8.16.custom/css/custom-theme/jquery-ui-1.8.16.custom.css" %>
    <%= javascript_include_tag "jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js",
      "timepicker/jquery-ui-timepicker-addon" %>
      <%= csrf_meta_tags %>
      <div id="flash">
        <%= render :partial => 'layouts/flash', :object => flash %>
      </div>
  </head>

  <body>
    <div id="maindiv">
      <div id="header">
        <div class="cr">
          <div class="topleftbox">
            <a title="Cloud 9 Transaction Management" href="#"><img id="logo" title="Cloud 9 Transaction Management" alt="Cloud 9 Transaction Management" src="/assets/logo.png" /></a>
            <% if current_user.present? %>
              <input class="input-search" type="text" title="Search Transaction by Address, Agents or MLS" placeholder="Search Transaction by Address, Agents or MLS" /><input class="btn-search" type="submit" title="Search" value="Search" />
            <% end %>
          </div>
          <div class="toprighbox">
            <% if current_user.present? %>
              <ul id="topmenu">
                <li><span>|</span><a title="Admin" href="#">Admin</a></li>
                <li><span>|</span><a title="Profile" href="#">Profile</a></li>
                <li class="icon-logout"><span>|</span><%= link_to "Logout", destroy_user_session_path,:method => 'DELETE' %></li>
              </ul>
              <p><a title="Nate B is signed in (Not you?)" href="#"><%= current_user.first_name %>  is signed in (Not you?)</a></p>
            <% else %>
              <ul id="topmenu">
                <li><span>|</span><a title="Admin" href="#">Admin</a></li>
                <li><span>|</span><a title="Profile" href="#">Profile</a></li>
                <li class="icon-logout"><span>|</span><%= link_to "Login", new_user_session_path %></li>
              </ul>
  <%#*<p><a title="Nate B is signed in (Not you?)" href="#">Nate B is signed in (Not you?)</a></p>%>
            <% end %>
            <% if current_user.present? %>
              <div class="newTransaction"><%= link_to "New Transaction", new_transaction_path %></div>
            <% end %>
          </div>
          <div class="clearFix"></div>
        </div>
        <% if current_user.present? %>
          <div id="navigation">
            <ul>
              <li><%= link_to "Dashboard", dashboard_index_path %></li>
              <li><%= link_to "Transaction", transactions_path %></li>
              <li><a title="Tasks" href="#"><span>Tasks</span></a></li>
              <li><%= link_to "Workin", working_documents_path %> </li>
              <li><%= link_to "Unreviewed", unreviewed_documents_path %></li>
              <li><%= link_to "Office", office_documents_path %> </a></li>
            </ul>
          </div>
          <div class="clearFix"></div>
        </div>
        <div id="content">
          <div id="leftColumnShow">Menu</div>
          <div id="leftColumn">
            <div id="closeBox">Close</div>
            <ul class="leftmenu">
              <li class="icon-new-transactions"><%= link_to "New Transaction", new_transaction_path %></li>
              <li class="icon-upload-documents"><%= link_to "Upload Docs", new_document_path %></li>
              <li class="icon-profile"><%= link_to "Profile", profile_user_path(current_user) %></li>
              <li class="active icon-admin">  <%= link_to "admin", admin_user_path(current_user) %></li>
              <li class="icon-monthly-backup"><a title="Monthly Backup" href="#">Monthly Backup</a></li>
              <li class="icon-help"><a title="Help" href="#">Help</a></li>
            </ul>
            <div class="contentbox">
              <h1>Admin &amp; Tech Support</h1>
              <div class="box">
                <div class="bt">
                  <div class="br">
                    <div class="bb">
                      <div class="bl">
                        <div class="con">
                          <ul class="list-admin">
                            <li><a title="Justin Brown" href="#"><%= current_user.first_name %></a></li>
                            <li><a title="jbsold@gmail.com" href="#"><%= current_user.email %> </a></li>
                          </ul>
                          <div class="clearFix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contentbox">
              <h1><em><a title="Change" href="#">(Change)</a></em>Your Info</h1>
              <div class="box">
                <div class="bt">
                  <div class="br">
                    <div class="bb">
                      <div class="bl">
                        <div class="con">
                          <ul class="list-admin">
                            <li><a title="Nate Brown" href="#"><%= current_user.first_name %></a></li>
                            <li><a title="natebrown12@hotmail.com" href="#"><%= current_user.email %></a></li>
                            <li><a title="Web Guy" href="#"><%= current_user.role %> </a></li>
                          </ul>
                          <div class="clearFix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contentbox">
              <h1>Monthly Stats</h1>
              <div class="box">
                <div class="bt">
                  <div class="br">
                    <div class="bb">
                      <div class="bl">
                        <div class="con">
                          <ul class="list-admin">
                            <li><span class="fright"><%= current_user.transactions.count %> </span><a title="Transaction Created" href="#">Transaction Created</a></li>
                            <li><span class="fright">5</span><a title="Transaction Quota" href="#">Transaction Quota</a></li>
                          </ul>
                          <p class="f11">Your monthly limit will reset back to 5 new transactions on March 28, 2013</p>
                          <div class="clearFix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contentbox">
              <h1>Your Permissions</h1>
              <div class="box">
                <div class="bt">
                  <div class="br">
                    <div class="bb">
                      <div class="bl">
                        <div class="con">
                          <ul class="list-admin">
                            <li><a title="Elite Real estate" href="#">Elite Real estate</a></li>
                          </ul>
                          <div class="clearFix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= yield %>
          <div id="footer">
            <div class="footerMenu">
              <ul>
                <li><a title="What's New" href="#">What's New</a></li>
                <li><a title="System Status" href="#">System Status</a></li>
                <li><a title="Live Help" href="#">Live Help</a></li>
                <li><a title="Privacy Policy" href="#">Privacy Policy</a></li>
                <li><a title="Terms of Service" href="#">Terms of Service</a></li>
              </ul>
            </div>
            <p>Having problems? Contact the office admin.</p>
            <div class="clearFix"></div>
          </div>
        </div>
      <% end %>
      <script type="text/javascript" language="javascript">
        jQuery(document).ready(function () {
          jQuery('#leftColumnShow').click(function () {
            jQuery('#leftColumn').slideToggle('slow', function () {})
          });
          jQuery('#closeBox').click(function () {
            jQuery('#leftColumn').slideToggle('slow', function () {})
          });
        });
      </script>
  </body>
</html>
