<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Cloud 9</title>
    <%= stylesheet_link_tag "default" %>
    <%= javascript_include_tag "application","jquery_002" %>
  </head>

  <body>
    <div id="maindiv">
      <div id="header">
        <div class="cr">
          <div class="topleftbox">
            <a title="Cloud 9 Transaction Management" href="#"><img id="logo" title="Cloud 9 Transaction Management" alt="Cloud 9 Transaction Management" src="/assets/logo.png" /></a>
            <%#*<input class="input-search" type="text" title="Search Transaction by Address, Agents or MLS" placeholder="Search Transaction by Address, Agents or MLS" /><input class="btn-search" type="submit" title="Search" value="Search" />%>
          </div>
          <div class="toprighbox">
            <ul id="topmenu">
              <li><span>|</span><a title="Admin" href="#">Admin</a></li>
              <li><span>|</span><a title="Profile" href="#">Profile</a></li>
              <li class="icon-logout"><span>|</span><%= current_user ? (link_to "Logout", destroy_user_session_path,:method => 'DELETE') : (link_to "Login", new_user_session_path) %> </li>
              <% if current_user.present? %><%  else %><%= link_to "|Signup", new_user_registration_path %><% end %>
            </ul>
            <p><% if current_user %><a title="Nate B is signed in (Not you?)" href="#"><%= current_user.email %> is signed in (Not you?)</a></p> <% end %>
            <div class="newTransaction"><%= current_user ? (link_to "New Transaction", new_transaction_path) : "" %></div>
          </div>
          <div class="clearFix"></div>
        </div>
        <div id="navigation">
          <ul>
            <% if current_user %>
              <li class="active"><%= link_to "<span>Dashboard</span>".html_safe, dashboard_index_path %></li>
              <li><%= link_to "<span>Transaction</span>".html_safe, transactions_path %></li>
              <li><%= link_to "<span>Tasks</span>".html_safe, tasks_path %></li>
              <li><%= link_to "<span>Workin</span>".html_safe, working_documents_path %></li>
              <li><%= link_to "<span>Unreviewed</span>".html_safe, unreviewed_documents_path %></li>
              <li><%= link_to "<span>Office</span>".html_safe, office_documents_path %></li>
            <% else %>
              <li class="active"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            <% end %>
          </ul>
        </div>
        <div class="clearFix"></div>
      </div>
      <div id="content">
        <% if current_user %>
          <div id="leftColumnShow">Menu</div>
          <div id="leftColumn">
            <div id="closeBox">Close</div>
            <ul class="leftmenu">
              <li class="active icon-new-transactions"><%= link_to "New Transaction", new_transaction_path %></li>
              <li class="icon-upload-documents"><%= link_to "Upload Docs", new_document_path %></li>
              <li class="icon-profile"><%= link_to "Profile", edit_user_registration_path(current_user) %></li>
              <li class="icon-admin"><%= link_to "admin", admin_user_path(current_user) %></li>
              <li class="icon-monthly-backup"><a title="Monthly Backup" href="#">Monthly Backup</a></li>
              <li class="icon-help"><a title="Help" href="#">Help</a></li>
            </ul>
            <div class="contentbox">
              <h1>Admin &amp; Tech Support</h1>
              <div class="box">
                <div class="bt">
                  <div class="br">
                    <div class="bb">
                      <div class="bl">
                        <div class="con">
                          <ul class="list-admin">
                            <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                            <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                          </ul>
                          <div class="clearFix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contentbox">
              <h1><em><a title="Change" href="#">(Change)</a></em>Your Info</h1>
              <div class="box">
                <div class="bt">
                  <div class="br">
                    <div class="bb">
                      <div class="bl">
                        <div class="con">
                          <ul class="list-admin">
                            <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                            <li><a title="<%= current_user.email %>" href="#"><%= current_user.email %></a></li>
                            <li><a title="<%= current_user.role %>" href="#"><%= current_user.role %></a></li>
                          </ul>
                          <div class="clearFix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contentbox">
              <h1>Monthly Stats</h1>
              <div class="box">
                <div class="bt">
                  <div class="br">
                    <div class="bb">
                      <div class="bl">
                        <div class="con">
                          <ul class="list-admin">
                            <li><span class="fright"><%= current_user.transactions.count %></span><a title="Transaction Created" href="#">Transaction Created</a></li>
                            <li><span class="fright">5</span><a title="Transaction Quota" href="#">Transaction Quota</a></li>
                          </ul>
                          <p class="f11">Your monthly limit will reset back to 5 new transactions on March 28, 2013</p>
                          <div class="clearFix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contentbox">
              <h1>Your Permissions</h1>
              <div class="box">
                <div class="bt">
                  <div class="br">
                    <div class="bb">
                      <div class="bl">
                        <div class="con">
                          <ul class="list-admin">
                            <li><a title="Elite Real estate" href="#">Elite Real estate</a></li>
                          </ul>
                          <div class="clearFix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div id="rightColumn">
          <%= yield %>
        </div>
        <div class="clearFix"></div>
      </div>
      <div id="footer">
        <div class="footerMenu">
          <ul>
            <li><a title="What's New" href="#">What's New</a></li>
            <li><a title="System Status" href="#">System Status</a></li>
            <li><a title="Live Help" href="#">Live Help</a></li>
            <li><a title="Privacy Policy" href="#">Privacy Policy</a></li>
            <li><a title="Terms of Service" href="#">Terms of Service</a></li>
          </ul>
        </div>
        <p>Having problems? Contact the office admin.</p>
        <div class="clearFix"></div>
      </div>
    </div>
    <%#*<script type="text/javascript" language="javascript" src="js/jquery_002.js"></script>%>
    <script type="text/javascript" language="javascript">
      jQuery(document).ready(function () {
        jQuery('#leftColumnShow').click(function () {
          jQuery('#leftColumn').slideToggle('slow', function () {})
        });
        jQuery('#closeBox').click(function () {
          jQuery('#leftColumn').slideToggle('slow', function () {})
        });
      });
    </script>
  </body>
</html>
