<!DOCTYPE html>
<html>
  <head>
    <title>Paperlesspipeline</title>
    <%= stylesheet_link_tag    "application", "/assets/jquery-ui-1.8.16.custom/css/custom-theme/jquery-ui-1.8.16.custom.css", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style>
      body { background-color: #566477; height: 95%; padding-top: 20px; }
    </style>
  </head>

  <body>
    <div style='height:0px;'>
      <a style="color: white;left: 40px;position: relative;top: -15px;">PaperLessPipeLine</a>
      <ul class="nav pull-right">
        <% if !current_user%>
          <li><%= link_to "Signup", new_user_registration_path, :id => "user_register" %></li>
          <li><%= link_to "Login", new_user_session_path, :id => "user_register" %></li>
        <% else%>
          <li><%= link_to "Logout", destroy_user_session_path,:method => 'DELETE', :id => "user_register" %></li>
        <%end%>
      </ul>
    </div>



    <div class="container" style="margin-top:45px;height:auto;min-height: 500px;width:100%; position: relative;clear:both;background: none repeat scroll 0 0 #d4d4d4;">
      <% if current_user %>
        <div style="color: black;left: 450px;position: relative;top: -16px;width: 35%;">
        
          <%= link_to "Dashboard", dashboard_path(current_user), :class => "btn" %>
          <%= link_to "Transactions", "", :class => "btn" %>
          <%= link_to "Tasks", "", :class => "btn" %>
          <%= link_to "Working", "", :class => "btn" %>
          <%= link_to "Unreviewed", "", :class => "btn" %>
          <%= link_to "Office", "", :class => "btn" %>
        </div>
        <% if params[:controller] == 'dashboard' and params[:action] == 'show'%>
        <%= render :partial => 'layouts/dashboard_side_menu' %>
        <% else %>
        <%= render :partial => 'layouts/admin_page_side_bar' %>
        <%end%>
      <% end %>
      
      <div id="small-container">
        <%= yield %>
      </div>
    </div>  

  <footer class="footer" style="background-color:#c5c5c5; clear:both;">
    <div class="row" style="background-color:#c5c5c5">
      <div style='float:right;'>
        <b> (c)2013 All Rights Reserved.</b>
      </div>
    </div>
  </footer>
</body>
</html>


